<h3 class="settings-heading">Домен</h3>

<form [formGroup]="siteDomainForm" class="item-form">
    <tui-input formControlName="domainName">
        Название домена
        <input
            tuiTextfield
            type="text"
        />
    </tui-input>
</form>

<button
    class="btn-l btn-dark-white-hover"
    (click)="checkIsDomainAvailable()"
>
    Проверить домен на доступность
</button>

<ng-container *ngIf="isDisplayDomainAvailability">
    <div *ngIf="isDomainAvailable; else notAvailableDomain">
        <div class="status-container">
            <img src="assets/imgs/green-status.svg" alt="available">
            <p>Домен доступен для подключения</p>
        </div>
        <div class="btn-container">
            <button class="br-69 btn-l btn-white-dark-hover" (click)="resetForm()">Отменить</button>
            <button class="br-69 btn-l btn-dark-white-hover" (click)="submitForm()">Сохранить</button>
        </div>
    </div>
    <ng-template #notAvailableDomain>
        <div class="status-container">
            <img src="assets/imgs/red-status.svg" alt="not available">
            <p>К сожалению, домен не доступен для оформления. Попробуйте другой.</p>
        </div>
    </ng-template>
</ng-container>
