@import "global";
@import "../../site-general-settings/site-general-settings.component";

.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 24px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 24px;
}
