<div class="menu">
    <div class="menu-item-card">
        <p class="item-name">Куринный бризоль</p>
        <p class="item-description">Куринный бризоль с пенне, сливками и сыром</p>
        <button class="btn-m btn-price">520 ₽</button>
    </div>
    <div class="menu-item-card">
        <p class="item-name">Куринный бризоль</p>
        <p class="item-description">Куринный бризоль с пенне, сливками и сыром</p>
        <button class="btn-m btn-price">520 ₽</button>
    </div>
    <div class="menu-item-card">
        <p class="item-name">Куринный бризоль</p>
        <p class="item-description">Куринный бризоль с пенне, сливками и сыром</p>
        <button class="btn-m btn-price">520 ₽</button>
    </div>
</div>
