@import "global";

.menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;

    .menu-item-card {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 75%), url("../../../../../assets/imgs/site-examples/menu-item-img.png") no-repeat;
        height: 220px;
        width: 340px;
        border: 1px solid @dark;
        border-radius: 15px;
        position: relative;
        padding: 28px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;

        .item-name {
            color: @white-f;
            font-size: 24px;
            font-weight: 600;
        }

        .item-description {
            color: @white-f;
            font-size: 18px;
        }

        .btn-price {
            position: absolute;
            top: 28px;
            right: 28px;
            background-color: @dark;
            color: @white-1;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: 500px) {
    .menu {
        margin: 30px;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        .menu-item-card {
            flex: 0 0 280px;

            .item-name {
                font-size: 20px;
            }

            .item-description {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .menu {
        margin: 30px;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        .menu-item-card {
            flex: 0 0 340px;
        }
    }
}
