@import "../../../styles/global";

.flex-2col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 50px auto 0;
    gap: 24px;
    padding: 0 24px;
}

.flex-item {
    width: 50%;
    max-width: 600px;
}

.h-500 {
    height: 500px;
}

.edit-heading {
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 400;
}

.item-form {
    .form-input {
        border-radius: 10px;
        padding: 24px 10px 10px;
        font-size: 16px;
    }
}

.alert-msg {
    color: @red;
}

.btn-container {
    gap: 30px;
    margin-top: 50px;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid @gray-2;
    border-radius: 10px;
    overflow: scroll;

    .li-menu-item {
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        color: @gray-2;
        cursor: pointer;

        &:hover {
            background-color: @white-2;
        }
    }

    .li-menu-item.active {
        background-color: @gray-1;
        color: @white-2;
    }
}

.btn-l {
    padding: 8px 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

