<app-user-header></app-user-header>

<div class="flex-2col">
    <div class="flex-item">
        <h3 *ngIf="isAddNew" class="edit-heading">Новая позиция</h3>
        <h3 *ngIf="!isAddNew" class="edit-heading">Редактирование позиции</h3>
        <div class="h-500">
            <form [formGroup]="itemForm" class="item-form">
                <div class="m-b-24">
                    <tui-input formControlName="itemName">
                        Название позиции
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="itemName"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                <div class="m-b-24">
                    <tui-input-number
                        formControlName="itemPrice"
                        postfix="руб."
                    >
                        Цена
                    </tui-input-number>
                    <tui-error
                        formControlName="itemPrice"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                <div class="m-b-24">
                    <tui-text-area
                        formControlName="description"
                        [expandable]="true"
                    >
                        Описание позиции
                    </tui-text-area>
                    <tui-error
                        formControlName="description"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                <div>
                    <tui-select
                        *tuiLet="menuCategories"
                        [tuiTextfieldLabelOutside]="false"
                        [valueContent]="menuCategories ? stringifyMenuCategories(menuCategories) : loading"
                        formControlName="categoryId"
                        class="form-item flex-45"
                    >
                        Категория меню
                        <ng-template tuiDataList>
                            <tui-data-list *ngIf="menuCategories; else loading">
                                <button
                                    *ngFor="let cat of menuCategories"
                                    tuiOption
                                    [value]="cat.id"
                                >
                                    {{ cat.categoryName }}
                                </button>
                            </tui-data-list>
                        </ng-template>
                        <ng-template #loading>
                            <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                        </ng-template>
                    </tui-select>
                    <tui-error
                        formControlName="categoryId"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
            </form>
        </div>
        <div class="btn-container f-end">
            <button class="br-69 btn-l btn-white-dark-hover" (click)="resetForm()">Отменить</button>
            <button class="br-69 btn-l btn-dark-white-hover" (click)="submitForm()">Добавить позицию</button>
        </div>
    </div>
    <div class="flex-item">
        <h3 class="edit-heading">Меню</h3>
        <ul class="menu-list h-500">
            <li
                class="li-menu-item"
                [class.active]="menuItem.id === activeItemId"
                *ngFor="let menuItem of menuItemsList"
                (click)="loadItemInfo(menuItem.id)"
            >
                {{menuItem.itemName}}
            </li>
        </ul>
        <div class="btn-container f-end">
            <button class="br-69 btn-l btn-dark-white-hover" (click)="returnToMenu()">Перейти в меню</button>
        </div>
    </div>
</div>
