@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9A4kDNxMZdWfMOD5VvkrCqYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrAGQBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrBiQxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkojO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrAWRRf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrBuRxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrBKRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5Vn9IjO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnWKnuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnSKzuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnMK7uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnFK_uQQ.ttf) format('truetype');
}
/* global colors */
/* global numbers */
a {
  text-decoration: none;
  color: #323232;
}
p {
  line-height: 110%;
  margin: 0;
}
.custom-breadcrumbs {
  max-width: 1200px;
  margin: 48px auto 12px;
}
.section-name {
  font-size: 20px;
}
.br-69 {
  border-radius: 69px;
}
.br-15 {
  border-radius: 15px;
}
.p-35-50 {
  padding: 35px 50px;
}
.p-0-60 {
  padding: 0 60px;
}
.flex-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
}
.flex-row-s-between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flex-row-f-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
}
.flex-third-two {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.flex-third-two > *:nth-child(1) {
  width: calc(100% / 3 * 2);
}
.flex-third-two > *:nth-child(2) {
  width: calc(100% / 3 * 1);
}
.flex-two-third {
  display: flex;
  flex-direction: row;
  margin: 1rem 3rem;
  gap: 24px;
}
.flex-two-third > *:nth-child(1) {
  width: calc(100% / 3 * 1);
}
.flex-two-third > *:nth-child(2) {
  width: calc(100% / 3 * 2);
}
.align-center {
  align-items: center;
}
.align-f-end {
  align-items: flex-end;
}
.f-end {
  display: flex;
  justify-content: flex-end;
}
.f-column {
  display: flex;
  flex-direction: column;
}
.flex-50 {
  flex: 50%;
}
.m-0-auto {
  margin: 0 auto;
}
.m-b-12 {
  margin-bottom: 12px;
}
.m-b-24 {
  margin-bottom: 24px;
}
.m-b-32 {
  margin-bottom: 32px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-top-32 {
  margin-top: 32px;
}
.m-top-58 {
  margin-top: 58px;
}
.w-1440 {
  max-width: 1440px;
  margin: 0 auto;
}
.w-1160 {
  max-width: 1160px;
  margin: 0 auto;
}
.w-1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.p-relative {
  position: relative;
}
/* buttons */
.btn-m {
  padding: 10px 24px;
  border-radius: 45px;
}
.btn-l {
  padding: 12.5px 37.5px;
  border-radius: 69px;
  font-size: 16px;
}
.btn-dark-white-hover {
  background-color: #323232;
  color: #FFFFFF;
  border: 1px solid #323232;
  transition: 0.3s;
  cursor: pointer;
}
.btn-dark-white-hover:hover {
  background-color: #FFFFFF;
  color: #323232;
}
.btn-yellow-white-hover {
  background-color: #FFFD72;
  color: #323232;
  border: 1px solid #323232;
  transition: 0.3s;
  cursor: pointer;
}
.btn-yellow-white-hover:hover {
  background-color: #FFFFFF;
}
.btn-white-dark-hover {
  background-color: #FFFFFF;
  border: 1px solid #323232;
  cursor: pointer;
  transition: 0.3s;
}
.btn-white-dark-hover:hover {
  background-color: #323232;
  color: #FFFFFF;
}
.border-white {
  border: 1px solid #F6F6F6;
  color: #F6F6F6;
}
.border-dark {
  border: 1px solid #323232;
}
.flex-2col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 50px auto 0;
  gap: 24px;
  padding: 0 24px;
}
.flex-item {
  width: 50%;
  max-width: 600px;
}
.h-500 {
  height: 500px;
}
.edit-heading {
  font-size: 28px;
  margin-bottom: 12px;
  font-weight: 400;
}
.item-form .form-input {
  border-radius: 10px;
  padding: 24px 10px 10px;
  font-size: 16px;
}
.alert-msg {
  color: #E0514E;
}
.btn-container {
  gap: 30px;
  margin-top: 50px;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #C3C3C3;
  border-radius: 10px;
  overflow: scroll;
}
.menu-list .li-menu-item {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #C3C3C3;
  cursor: pointer;
}
.menu-list .li-menu-item:hover {
  background-color: #F0F0F0;
}
.menu-list .li-menu-item.active {
  background-color: #7E7E7E;
  color: #F0F0F0;
}
.btn-l {
  padding: 8px 25px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*# sourceMappingURL=add-edit-item.component.css.map */