@import "global";

.text {

    .m-w-1200 {
        max-width: 1200px;
        margin: 0 auto;
    }

    .text-txt {
        font-size: 44px;
        line-height: 140%;
        font-weight: 400;
    }

    .bold {
        font-weight: 700;
    }
}

@media only screen and (max-width: 500px) {
    .text {
        margin: 30px;

        .text-txt {
            font-size: 28px;
            line-height: 150%;
        }

        .bold {
            font-size: 32px;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .text {
        margin: 30px;

        .text-txt {
            font-size: 32px;
            line-height: 140%;
        }

        .bold {
            font-size: 38px;
        }
    }
}
