<div class="flex-item">
    <h3 class="settings-heading">Основная информация</h3>
    <div class="h-500">
        <form [formGroup]="generalDataForm" class="item-form">
            <div class="m-b-24">
                <tui-input formControlName="siteName">
                    Название заведения
                    <input
                        tuiTextfield
                        type="text"
                    />
                </tui-input>
                <tui-error
                    formControlName="siteName"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div class="m-b-24">
                <tui-text-area
                    formControlName="siteDescription"
                    [expandable]="true"
                >
                    Описание заведения
                </tui-text-area>
                <tui-error
                    formControlName="siteDescription"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

            <div class="m-b-24">
                <tui-input formControlName="placeFormat">
                    Формат заведения
                    <input
                        tuiTextfield
                        type="text"
                    />
                </tui-input>
                <tui-error
                    formControlName="placeFormat"
                    [error]="[] | tuiFieldError | async"
                ></tui-error>
            </div>

        </form>
        <div class="btn-container f-end">
            <button class="br-69 btn-l btn-white-dark-hover" (click)="resetForm()">Отменить</button>
            <button class="br-69 btn-l btn-dark-white-hover" (click)="submitForm()">Сохранить</button>
        </div>
    </div>
</div>
