@import "global";

.cover-1 {

    &.cover-bg-img {
        height: 460px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../../../../../assets/imgs/site-examples/cover.png") no-repeat;
        background-size: 100% 100%;
    }

    .txt-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;

        h2 {
            font-weight: 700;
            text-align: center;
            font-size: 66px;
            line-height: 72px;
            color: @white-f;
        }

        p {
            font-size: 28px;
            color: @white-f;
            font-weight: 400;
            text-align: center;
            line-height: 120%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .cover-1 {

        .txt-container {
            align-items: flex-start;
            max-width: calc(100% - 32px);

            h2 {
                text-align: left;
                font-size: 42px;
            }

            p {
                text-align: left;
                font-size: 18px;
            }
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .cover-1 {

        .txt-container {
            padding: 0 24px;
        }

        h2 {
            font-size: 56px;
        }

        p {
            font-size: 22px;
        }
    }
}
