<div class="cover-1 cover-bg-img">
    <div class="txt-container">
        <h2>Название вашего заведения</h2>
        <p>Описание сайта. Можно добавить здесь, также автоматически появится тут, как только вы заполните
            его в настройках</p>
    </div>
</div>
