@import "global";

.text {
    display: flex;
    flex-direction: row;
    height: 300px;

    .text-bg-img {
        background: url("../../../../../assets/imgs/site-examples/text-img.png") no-repeat;
        background-size: 100% 100%;
    }

    .text-txt {
        font-size: 18px;
        line-height: 120%;
        margin: 32px;
    }
}

@media only screen and (max-width: 500px) {
    .text {
        flex-direction: column;
        height: 600px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {

}
