<div class="text">
    <div class="flex-50 text-bg-img"></div>
    <div class="flex-50">
        <p class="text-txt">
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
            was born and I will give you a complete account of the system, and expound the actual teachings
            of the great explorer of the truth, the master-builder of human happiness. No one rejects,
            dislikes, or avoids pleasure itself, because it is pleasure, but because those
        </p>
    </div>
</div>
