@import "global";

.banner {
    .banner-bg-img {
        display: flex;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 41.05%, rgba(0, 0, 0, 0) 73.59%), url("../../../../../assets/imgs/site-examples/banner-img.png") no-repeat;
        background-size: 100% 100%;
        height: 360px;
    }

    .banner-txt {
        color: @white-f;
        font-size: 18px;
        line-height: 120%;
        margin: 28px;
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 650px) {
    .flex-50 {
        &:first-child {
            display: none;
        }
    }
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {
    .flex-50 {
        &:first-child {
            flex: 15%;
        }
    }
}
