<div class="gallery">
    <div>
        <img src="assets/imgs/site-examples/gallery-1.png" alt="gallery image">
    </div>
    <div>
        <img src="assets/imgs/site-examples/gallery-2.png" alt="gallery image">
    </div>
    <div>
        <img src="assets/imgs/site-examples/gallery-3.png" alt="gallery image">
    </div>
    <div>
        <img src="assets/imgs/site-examples/gallery-3.png" alt="gallery image">
    </div>
</div>
