@import "global";

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;

    div {

        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 650px) {
    .gallery {
        flex-wrap: wrap;

        div {
            flex: 0 0 45%;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {

}
