<app-user-header></app-user-header>

<div *ngIf="isProjectCreated$ | async; else newProject">
    <div *ngIf="projectBaseInfo$ | async as projectInfo">
        <div class="w-1200 m-40-auto f-end">
            <button class="btn-l btn-yellow-white-hover" (click)="navToSectionsSettings()">Настройки сайта</button>
            <button class="btn-l btn-dark-white-hover">Добавить раздел</button>
        </div>
        <div class="w-1200">
            <div class="m-b-24">
                <h3 class="block-name header">{{projectInfo.projectName}}</h3>
                <p class="url-txt">{{projectInfo.projectURL}}</p>
                <a [href]="projectInfo.projectURL">
                    <img src="assets/imgs/link.svg" alt="link">
                </a>
            </div>
            <div class="block-container">
                <div>
                    <h3 class="block-name">Главная страница</h3>
                    <p class="url-txt">{{projectInfo.projectURL}}</p>
                    <a [href]="projectInfo.projectURL">
                        <img src="assets/imgs/link.svg" alt="link">
                    </a>
                </div>
                <div>
                    <button
                        class="btn-m btn-white-dark-hover"
                        (click)="navToGeneralSettings()"
                    >
                        Редактировать
                    </button>
                </div>
            </div>
            <div class="block-container">
                <div>
                    <h3 class="block-name">Меню</h3>
                    <p class="url-txt">{{projectInfo.projectURL}}/menu</p>
                    <a [href]="projectInfo.projectURL + '/menu'">
                        <img src="assets/imgs/link.svg" alt="link">
                    </a>
                </div>
                <div>
                    <button
                        class="btn-m btn-white-dark-hover"
                        (click)="editMenu()"
                    >
                        Редактировать
                    </button>
                </div>
            </div>
            <div class="block-container">
                <div>
                    <h3 class="block-name">Стоп-лист</h3>
                    <p class="url-txt">{{projectInfo.projectURL}}/stop-menu</p>
                    <a [href]="projectInfo.projectURL + '/stop-menu'">
                        <img src="assets/imgs/link.svg" alt="link">
                    </a>
                </div>
                <div>
                    <button
                        class="btn-m btn-white-dark-hover"
                        (click)="editStopList()"
                    >
                        Редактировать
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #newProject>
    <div class="container">
        <div class="centered-div">
            <p>Начните работу, создав свой проект</p>
            <div class="btn-l br-15 btn-dark-white-hover start-btn" (click)="createProject()">Создать</div>
        </div>
    </div>
</ng-template>

