@import "global";

.container {
    position: relative;
}

.centered-div {
    margin: 0 auto;
    width: 60%;
    max-width: 700px;
    top: 20vh;
    position: inherit;

    p {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }

    .start-btn {
        margin: 0 auto;
        width: fit-content;
        border: 1px solid @dark;
        font-size: 20px;
    }
}

.btn-l {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    padding: 15px 50px;
    margin: 0 15px;

    &:first-child {
        margin: 0 15px 0 0;
    }

    &:last-child {
        margin: 0 0 0 15px;
    }
}

.m-40-auto {
    margin: 40px auto;
}

.block-container {
    border: 1px solid @gray-2;
    border-radius: 5px;
    padding: 30px 20px 20px 30px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.block-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 10px;
}

.block-name.header {
    font-size: 32px;
}

.url-txt {
    color: @gray-1;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    margin-bottom: 10px;
}
