@import "global";

.banner {
    .banner-bg-img {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 41.05%, rgba(0, 0, 0, 0) 73.59%), url("../../../../../assets/imgs/site-examples/banner-img.png") no-repeat;
        background-size: 100% 100%;
        height: 360px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (min-width: 501px) and (max-width: 1200px) {

}
