<app-cover-v1></app-cover-v1>
<app-cover-v2></app-cover-v2>
<app-buttons-v1></app-buttons-v1>
<app-buttons-v2></app-buttons-v2>
<app-menu-v1></app-menu-v1>
<app-text-v1></app-text-v1>
<app-text-v2></app-text-v2>
<app-text-v3></app-text-v3>
<app-text-v4></app-text-v4>
<app-banner-v1></app-banner-v1>
<app-banner-v2></app-banner-v2>
<app-gallery-v1></app-gallery-v1>
<!--<app-gallery-v2></app-gallery-v2>-->
<app-map-v1></app-map-v1>
<app-map-v2></app-map-v2>
<app-contacts-v1></app-contacts-v1>
