@import "global";

.tui-table__tr {
    &:hover {
        background: var(--tui-base-03);
    }
}

.tui-table__td {
    font: var(--tui-font-text-l);
    height: 3rem;
}

.action-btn-td {
    padding: 0.75rem 1rem;
    height: 3.5rem;
}

.dialog-msg {
    margin-bottom: 32px;
    font-size: 20px;
}

.nav-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
}

.cat-header {
    color: @dark-2;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 16px;
}

.item-card {
    width: 380px;
    height: 500px;
    border: 1px solid @dark;
    border-radius: 15px;
    position: relative;

    .item-img {
        height: 220px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
        }
    }

    .select-item-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        height: 36px;
        width: 36px;
        z-index: 10;
    }

    .item-desc {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item-desc-txt {
        padding: 20px;
    }

    .item-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 12px;
        color: black;
    }

    .item-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: black;
    }

    .item-desc-btn {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 20px;
    }

    .item-price {
        font-weight: 400;
        font-size: 26px;
    }

    .edit-btn {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.m-b-72 {
    margin-bottom: 72px;
}

.m-r-24 {
    margin-right: 24px;
}

.m-r-12 {
    margin-right: 12px;
}

.max-w-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-table-action {
    padding: 0 12px;

    img {
        height: 32px;
    }
}

@media (max-width: 1560px) {
    .w-1200 {
        margin: 0 60px;
    }
}

