<app-user-header></app-user-header>

<ng-container>
    <div class="nav-btns w-1200">
        <div>
            <button class="btn-reset" (click)="toggleViewMode()">
                <img [src]="tableMode ? 'assets/imgs/table-view-active.svg' : 'assets/imgs/table-view-inactive.svg'"
                     alt="table view mode button">
            </button>
            <button class="btn-reset" (click)="toggleViewMode()">
                <img [src]="!tableMode ? 'assets/imgs/grid-view-active.svg' : 'assets/imgs/grid-view-inactive.svg'"
                     alt="card view mode button">
            </button>
        </div>
        <div>
            <button class="btn-m btn-yellow-white-hover m-r-24" (click)="openStopList()">Стоп-лист</button>
            <button
                *ngIf="tableMode"
                class="btn-m btn-dark-white-hover"
                (click)="addMenuItem()"
            >
                Создать новую позицию
            </button>
            <button
                *ngIf="!tableMode && !isGridSelectionActive"
                class="btn-m btn-white-dark-hover"
                (click)="toggleGridSelection()"
            >
                Выбрать
            </button>

            <ng-container *ngIf="isGridSelectionActive">
                <button class="btn-m btn-white-dark-hover m-r-12" (click)="displayHideListModal = true">Скрыть</button>
                <button class="btn-m btn-white-dark-hover m-r-12" (click)="displayDeleteListModal = true">Удалить
                </button>
                <button class="btn-m btn-dark-white-hover" (click)="toggleGridSelection()">Отмена</button>
            </ng-container>
        </div>
    </div>
</ng-container>

<!--CARD VIEW-->
<ng-container *ngIf="menu && !tableMode">
    <div *ngFor="let category of menu" class="w-1200 m-b-72">
        <p class="cat-header">{{category.categoryName}}</p>
        <div class="cat-container">
            <app-add-new-item-card></app-add-new-item-card>
            <ng-container *ngIf="category.menuItems.length > 0">
                <div *ngFor="let item of category.menuItems" class="item-card">
                    <div class="item-img">
                        <img src="assets/imgs/menu-item-img.png" alt="menu-item-image">
                        <ng-container *ngIf="isGridSelectionActive">
                            <button
                                *ngIf="!(selectedItemsIds.indexOf(item.id) > -1); else selectedImg"
                                class="btn-reset select-item-btn"
                                (click)="selectItem(item.id)"
                            >
                                <img
                                    src="assets/imgs/selection-circle.svg"
                                    alt="select item"
                                >
                            </button>
                            <ng-template #selectedImg>
                                <button class="btn-reset select-item-btn" (click)="unselectItem(item.id)">
                                    <img src="assets/imgs/selected-yellow.svg" alt="selected button">
                                </button>
                            </ng-template>
                        </ng-container>
                    </div>
                    <div class="item-desc">
                        <div class="item-desc-txt">
                            <p class="item-name">{{item.itemName}}</p>
                            <p class="item-description">{{item.description}}</p>
                        </div>
                        <div class="item-desc-btn">
                            <p class="item-price">{{item.itemPrice}} &#8381;</p>
                            <button
                                class="edit-btn"
                                (click)="editMenuItem(item.id)"
                            >
                                <img src="assets/imgs/edit-gray.svg" alt="edit menu card">
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>

<!--TABLE VIEW-->
<ng-container *ngIf="menu && tableMode">
    <div class="w-1200">
        <table class="tui-table">
            <thead class="custom-header">
            <tr class="tui-table__tr">
                <th class="tui-table__th">Позиция</th>
                <th class="tui-table__th">Категория меню</th>
                <th class="tui-table__th">Цена, ₽</th>
                <th class="tui-table__th"></th>
            </tr>
            </thead>
            <tbody>
            <tr
                *ngFor="let item of menuItemsList"
                class="tui-table__tr"
            >
                <td class="tui-table__td">{{ item.itemName }}</td>
                <td class="tui-table__td">{{getCategoryName(item.categoryId)}}</td>
                <td class="tui-table__td">{{ item.itemPrice }}</td>
                <td class="f-end tui-table__td action-btn-td">
                    <button class="btn-reset btn-table-action" (click)="toggleItemVisibility(item)">
                        <img [src]="item.isHidden ? 'assets/imgs/hidden-icon.svg' : 'assets/imgs/visible-icon.svg'" alt="is item hidden">
                    </button>
                    <button class="btn-reset btn-table-action" (click)="editMenuItem(item.id)">
                        <img src="assets/imgs/edit-gray.svg" alt="edit-btn">
                    </button>
                    <button class="btn-reset btn-table-action" (click)="displayDeleteItemModal(item.id)">
                        <img src="assets/imgs/trash.svg" alt="delete-btn">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</ng-container>

<!-- DEL ITEM MODAL-->
<ng-template
    let-observer
    [(tuiDialog)]="displayDeleteModal"
    [tuiDialogOptions]="{label: 'Удалить выбранную позицию?'}"
>
    <div class="f-column m-top-58">
        <button class="btn-l btn-dark-white-hover m-b-24" (click)="deleteMenuItem()">Да</button>
        <button class="btn-l btn-white-dark-hover" (click)="displayDeleteModal=false">Нет</button>
    </div>
</ng-template>

<!-- DEL ITEMS LIST MODAL-->
<ng-template
    let-observer
    [(tuiDialog)]="displayDeleteListModal"
    [tuiDialogOptions]="{label: 'Подтвердите действие'}"
>
    <div class="f-column m-top-58">
        <div class="dialog-msg">{{getModalHeaderWithCounter(true)}}</div>
        <button class="btn-l btn-dark-white-hover m-b-24" (click)="deleteMenuItem()">Да</button>
        <button class="btn-l btn-white-dark-hover" (click)="displayDeleteModal=false">Нет</button>
    </div>
</ng-template>

<!-- HIDE ITEMS LIST MODAL-->
<ng-template
    let-observer
    [(tuiDialog)]="displayHideListModal"
    [tuiDialogOptions]="{label: 'Подтвердите действие'}"
>
    <div class="f-column m-top-58">
        <div class="dialog-msg">{{getModalHeaderWithCounter(false)}}</div>
        <button class="btn-l btn-dark-white-hover m-b-24" (click)="deleteMenuItem()">Да</button>
        <button class="btn-l btn-white-dark-hover" (click)="displayDeleteModal=false">Нет</button>
    </div>
</ng-template>
