<div class="header-container flex-inline">
  <img class="logo" src="./assets/imgs/w2h-logo-dark-no-txt.svg" alt="web2head-logo">
  <div class="flex-inline">
    <nav>
      <a href="./menu" class="m-0-24">Меню</a>
      <a href="./orders" class="m-0-24">Заказы</a>
    </nav>
    <div class="login-btn br-69 border-dark"
         [tuiHint]="popoverLogin"
         [tuiHintManual]="displayLoginHint"
         tuiHintAppearance="onDark"
         (click)="toggleDisplayLoginHint()"
    >
    </div>
  </div>
</div>

<ng-template #popoverLogin class="hint-override">
  <div class="f-column">
    <a href="#" class="popover-a">Личный кабинет</a>
    <a href="#" class="popover-a">Оплата</a>
    <a href="#" class="popover-a">Настройки</a>
    <a href="#" class="popover-a">Выйти</a>
  </div>
</ng-template>
