@import '../../../styles/global';

.flex-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    background-color: @yellow;
    color: @dark;
    height: 80px;
    padding: 0 60px;

    .logo {
        height: 42px;
    }

    a {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: @dark;
        transition: 0.3s;
    }
}

.m-0-24 {
    margin: 0 24px;
}

.login-btn {
    background: no-repeat url("../../../assets/imgs/profile-icon-dark.svg") center;
    background-size: 22px;
    height: 44px;
    width: 44px;
    cursor: pointer;
    margin-left: 24px;
}

.popover-a {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}
