<h3 class="settings-heading">Основная информация</h3>
<div>
    <form [formGroup]="headerForm" class="item-form">
        <h3 class="section-header">Заголовки</h3>

        <div class="form-item-container">
            <tui-select
                *tuiLet="fontsList"
                [tuiTextfieldLabelOutside]="false"
                [valueContent]="fontsList ? stringifyFont(fontsList) : loading"
                formControlName="fontFamily"
                class="form-item flex-45"
            >
                Шрифт для заголовков
                <ng-template tuiDataList>
                    <tui-data-list *ngIf="fontsList; else loading">
                        <button
                            *ngFor="let font of fontsList"
                            tuiOption
                            [value]="font.fontId"
                        >
                            {{ font.fontName }}
                        </button>
                    </tui-data-list>
                </ng-template>
                <ng-template #loading>
                    <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                </ng-template>
            </tui-select>

            <tui-input-color
                class="b-form form-item flex-45"
                [colors]="palette"
                formControlName="fontColor"
            >
                Цвет
            </tui-input-color>

            <tui-select
                *tuiLet="fontWeightList"
                [tuiTextfieldLabelOutside]="false"
                [valueContent]="fontWeightList ? stringifyFontWeight(fontWeightList) : loading"
                formControlName="fontWeight"
                class="form-item flex-45"
            >
                Насыщенность
                <ng-template tuiDataList>
                    <tui-data-list *ngIf="fontWeightList; else loading">
                        <button
                            *ngFor="let fontWeight of fontWeightList"
                            tuiOption
                            [value]="fontWeight.fontWeight"
                        >
                            {{ fontWeight.fontWeightName }}
                        </button>
                    </tui-data-list>
                </ng-template>
                <ng-template #loading>
                    <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                </ng-template>
            </tui-select>

            <tui-input-number
                formControlName="fontSize"
                postfix="px"
                class="form-item flex-45"
            >
                Размер заголовков
            </tui-input-number>
        </div>
    </form>

    <form [formGroup]="textForm" class="item-form">
        <h3 class="section-header">Наборный текст</h3>

        <div class="form-item-container">
            <tui-select
                *tuiLet="fontsList"
                [tuiTextfieldLabelOutside]="false"
                [valueContent]="fontsList ? stringifyFont(fontsList) : loading"
                formControlName="fontFamily"
                class="form-item flex-45"
            >
                Шрифт для наборного текста
                <ng-template tuiDataList>
                    <tui-data-list *ngIf="fontsList; else loading">
                        <button
                            *ngFor="let font of fontsList"
                            tuiOption
                            [value]="font.fontId"
                        >
                            {{ font.fontName }}
                        </button>
                    </tui-data-list>
                </ng-template>
                <ng-template #loading>
                    <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                </ng-template>
            </tui-select>

            <tui-input-color
                class="b-form form-item flex-45"
                [colors]="palette"
                formControlName="fontColor"
            >
                Цвет
            </tui-input-color>

            <tui-select
                *tuiLet="fontWeightList"
                [tuiTextfieldLabelOutside]="false"
                [valueContent]="fontWeightList ? stringifyFontWeight(fontWeightList) : loading"
                formControlName="fontWeight"
                class="form-item flex-45"
            >
                Насыщенность
                <ng-template tuiDataList>
                    <tui-data-list *ngIf="fontWeightList; else loading">
                        <button
                            *ngFor="let fontWeight of fontWeightList"
                            tuiOption
                            [value]="fontWeight.fontWeight"
                        >
                            {{ fontWeight.fontWeightName }}
                        </button>
                    </tui-data-list>
                </ng-template>
                <ng-template #loading>
                    <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                </ng-template>
            </tui-select>

            <tui-input-number
                formControlName="fontSize"
                postfix="px"
                class="form-item flex-45"
            >
                Размер наборного текста
            </tui-input-number>
        </div>
    </form>

    <form [formGroup]="buttonsForm" class="item-form">
        <h3 class="section-header">Кнопки</h3>

        <div class="form-item-container">
            <tui-select
                *tuiLet="fontsList"
                [tuiTextfieldLabelOutside]="false"
                [valueContent]="fontsList ? stringifyFont(fontsList) : loading"
                formControlName="fontFamily"
                class="form-item flex-45"
            >
                Шрифт для кнопок
                <ng-template tuiDataList>
                    <tui-data-list *ngIf="fontsList; else loading">
                        <button
                            *ngFor="let font of fontsList"
                            tuiOption
                            [value]="font.fontId"
                        >
                            {{ font.fontName }}
                        </button>
                    </tui-data-list>
                </ng-template>
                <ng-template #loading>
                    <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                </ng-template>
            </tui-select>

            <tui-input-color
                class="b-form form-item flex-45"
                [colors]="palette"
                formControlName="fontColor"
            >
                Цвет
            </tui-input-color>

            <tui-select
                *tuiLet="fontWeightList"
                [tuiTextfieldLabelOutside]="false"
                [valueContent]="fontWeightList ? stringifyFontWeight(fontWeightList) : loading"
                formControlName="fontWeight"
                class="form-item flex-45"
            >
                Насыщенность
                <ng-template tuiDataList>
                    <tui-data-list *ngIf="fontWeightList; else loading">
                        <button
                            *ngFor="let fontWeight of fontWeightList"
                            tuiOption
                            [value]="fontWeight.fontWeight"
                        >
                            {{ fontWeight.fontWeightName }}
                        </button>
                    </tui-data-list>
                </ng-template>
                <ng-template #loading>
                    <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                </ng-template>
            </tui-select>
            <div class="form-item flex-45">
            </div>
        </div>
    </form>

    <form [formGroup]="colorsForm" class="item-form">
        <h3 class="section-header">Настройки фона</h3>

        <div class="form-item-container">
            <tui-input-color
                class="b-form form-item flex-45"
                [colors]="palette"
                formControlName="backgroundColor"
            >
                Цвет фона страницы
            </tui-input-color>

            <div class="form-item flex-45">
            </div>
        </div>
    </form>
    <div class="btn-container f-end">
        <button class="br-69 btn-l btn-white-dark-hover" (click)="resetForm()">Отменить</button>
        <button class="br-69 btn-l btn-dark-white-hover" (click)="submitForm()">Сохранить</button>
    </div>
</div>
