@import "global";
@import "../../site-general-settings/site-general-settings.component";

.section-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 32px 0 28px;
}

.form-item-container {
    display: flex;
    flex-wrap: wrap;

    .flex-45 {
        flex: 45%;
    }

    .form-item {

        &:first-child {
            margin: 0 12px 12px 0;
        }

        &:nth-child(2) {
            margin: 0 0 12px 12px;
        }

        &:nth-child(3) {
            margin: 12px 12px 0 0;
        }

        &:last-child {
            margin: 12px 0 0 12px;
        }
    }
}
