@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* global colors */
@dark: #323232;
@dark-2: #202020;
@yellow: #FFFD72;
@white-2: #F0F0F0;
@white-1: #F6F6F6;
@white-f: #FFFFFF;
@gray-1: #7E7E7E;
@gray-2: #C3C3C3;
@gray-3: #707070;
@red: #E0514E;
@green: #76C148;
@purple: #5C58FF;

/* global numbers */
@broder-radius-69px: 69px;
@broder-radius-15px: 15px;

a {
    text-decoration: none;
    color: @dark;
}

p {
    line-height: 110%;
    margin: 0;
}

.custom-breadcrumbs {
    max-width: 1200px;
    margin: 48px auto 12px;
}

.section-name {
    font-size: 20px;
}

.br-69 {
    border-radius: @broder-radius-69px;
}

.br-15 {
    border-radius: @broder-radius-15px;
}

.p-35-50 {
    padding: 35px 50px;
}

.p-0-60 {
    padding: 0 60px;
}

.flex-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
}

.flex-row-s-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-row-f-start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
}

.flex-third-two {
    display: flex;
    flex-direction: row;
    gap: 24px;

    > * {

        &:nth-child(1) {
            width: calc(100% / 3 * 2);
        }

        &:nth-child(2) {
            width: calc(100% / 3 * 1);
        }
    }
}

.flex-two-third {
    display: flex;
    flex-direction: row;
    margin: 1rem 3rem;
    gap: 24px;

    > * {

        &:nth-child(1) {
            width: calc(100% / 3 * 1);
        }

        &:nth-child(2) {
            width: calc(100% / 3 * 2);
        }
    }
}

.align-center {
    align-items: center;
}

.align-f-end {
    align-items: flex-end;
}

.f-end {
    display: flex;
    justify-content: flex-end;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.flex-50 {
    flex: 50%;
}

.m-0-auto {
    margin: 0 auto;
}

.m-b-12 {
    margin-bottom: 12px;
}

.m-b-24 {
    margin-bottom: 24px;
}

.m-b-32 {
    margin-bottom: 32px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-top-32 {
    margin-top: 32px;
}

.m-top-58 {
    margin-top: 58px;
}

.w-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.w-1160 {
    max-width: 1160px;
    margin: 0 auto;
}

.w-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.p-relative {
    position: relative;
}

/* buttons */

.btn-m {
    padding: 10px 24px;
    border-radius: 45px;
}

.btn-l {
    padding: 12.5px 37.5px;
    border-radius: @broder-radius-69px;
    font-size: 16px;
}

.btn-dark-white-hover {
    background-color: @dark;
    color: @white-f;
    border: 1px solid @dark;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: @white-f;
        color: @dark;
    }
}

.btn-yellow-white-hover {
    background-color: @yellow;
    color: @dark;
    border: 1px solid @dark;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: @white-f;
    }
}

.btn-white-dark-hover {
    background-color: @white-f;
    border: 1px solid @dark;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: @dark;
        color: @white-f;
    }
}

.border-white {
    border: 1px solid @white-1;
    color: @white-1;
}

.border-dark {
    border: 1px solid @dark;
}
