<div class="map-container">
    <div class="flex-50">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1694.0583507135636!2d-80.19118541228488!3d25.813563266422257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b1571edbcc4f%3A0x864c0d9e6f6f696e!2sCOTE%20Miami!5e0!3m2!1sru!2sge!4v1666683408160!5m2!1sru!2sge" width="100%" height="460" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="flex-50">
        <div class="address-container">
            <p class="address-line">Адрес</p>
            <p class="address-line">Время работы</p>
            <p class="address-line">Телефон</p>
            <p class="address-line">Почта</p>
        </div>
    </div>
</div>
