@import "global";

.map-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.address-container {
    padding: 32px;

    .address-line {
        font-size: 24px;
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 750px) {
    .map-container {
        flex-direction: column;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1200px) {

}
