@import "global";

.cart-header {
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
}

.fixed {
    position: fixed;
    top: 0;
}

.no-fixed {
    position: absolute;
    top: 80px;
}

.cart-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 12px auto;
    overflow: hidden;
}

.cart-logo {
    height: 32px;
    transform: translateX(-100px);
    transition: transform 0.25s ease 0s;
}

.logo-visible {
    transform: translateX(0);
}

.cart-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &:hover {
        .separator {
            background-color: @white-f;
            transition: 0.3s;
        }
    }
    .separator {
        width: 1px;
        height: 24px;
        background-color: @dark;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 500px) {
    .fixed, .no-fixed {
        position: fixed;
        bottom: 0;
        top: unset;
    }

    .cart-header {
        background-color: unset;
        backdrop-filter: unset;
    }

    .cart-logo {
        display: none;
    }

    .cart-header-container {
        justify-content: center;
        width: 90vw;

        .btn-container {
            width: 100%;

            .cart-btn {
                width: calc(100% - 50px);
                color: @white-f;
                background-color: @dark;
            }
        }
    }
}
