<div class="cart-header" [ngClass]="isCartFixed ? 'fixed' : 'no-fixed'">
    <div class="cart-header-container" (scroll)="onscroll()">
        <div>
            <img
                [ngClass]="isCartFixed ? 'logo-visible' : ''"
                class="cart-logo"
                src="assets/imgs/w2h-logo-dark-no-txt.svg"
                alt="cart logo"
            >
        </div>
        <div class="btn-container">
            <button class="btn-m btn-white-dark-hover cart-btn" (click)="showCart()">
                Корзина
                <ng-container *ngIf="isItemsInCart">
                    <div class="separator"></div>
                    <p class="quantity">{{cartLength}}</p>
                </ng-container>
            </button>
        </div>
    </div>
</div>

<app-client-cart></app-client-cart>
