<div class="header">
    <div class="header-container flex-inline">
        <img class="logo" src="./assets/imgs/w2h-logo-dark-no-txt.svg" alt="web2head-logo">
        <div class="flex-inline desktop-div">
            <nav>
                <a href="./orders" class="m-0-24">Главная</a>
                <a href="./client-menu" class="m-0-24">Меню</a>
            </nav>
            <div class="login-btn br-69 border-dark"
                 [tuiHint]="popoverLogin"
                 [tuiHintManual]="displayLoginHint"
                 tuiHintAppearance="onDark"
                 (click)="toggleDisplayLoginHint()"
            >
            </div>
        </div>
        <div class="mob-div">
            <button class="hamburger-btn" (click)="toggleOpenMenu()">
                <span class="line line-1" [class.btn-open]="displayMenu"></span>
                <span class="line line-2" [class.btn-open]="displayMenu"></span>
                <span class="line line-3" [class.btn-open]="displayMenu"></span>
            </button>
        </div>
    </div>
    <div class="mob-menu" [class.visible]="displayMenu">
        <nav class="mob-nav">
            <a href="./orders" class="link">Главная</a>
            <a href="./client-menu" class="link">Меню</a>
            <a href="#" class="link">Войти</a>
        </nav>
    </div>
</div>

<ng-template #popoverLogin>
    <div class="f-column">
        <a href="#" class="popover-a">Личный кабинет</a>
        <a href="#" class="popover-a">Оплата</a>
        <a href="#" class="popover-a">Настройки</a>
        <a href="#" class="popover-a">Выйти</a>
    </div>
</ng-template>
