@import "../../../styles/global";

.flex-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    color: @dark;
    width: 100%;
    background-color: @yellow;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;

    .logo {
        height: 42px;
    }

    a {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: @dark;
        transition: 0.3s;
    }
}

.m-0-24 {
    margin: 0 24px;
}

.login-btn {
    background: no-repeat url("../../../assets/imgs/profile-icon-dark.svg") center;
    background-size: 22px;
    height: 44px;
    width: 44px;
    cursor: pointer;
    margin-left: 24px;
}

.popover-a {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mob-div {
    display: none;
}

.mob-menu {
    display: none;
    transition: height .4s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &.visible {
        display: initial;
    }

    .mob-nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .link {
            font-size: 22px;
            margin: 12px 0;
        }
    }
}

.hamburger-btn {
    height: 26px;
    width: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line {
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: @dark;
    }

    .line-1 {
        transform-origin: 0 0;
        transition: transform 0.4s ease-in-out;

        &.btn-open {
            transform: rotate(45deg);
        }
    }

    .line-2 {
        transition: transform 0.2s ease-in-out;

        &.btn-open {
            transform: scaleY(0);
        }
    }

    .line-3 {
        transform-origin: 0 100%;
        transition: transform 0.4s ease-in-out;

        &.btn-open {
            transform: rotate(-45deg);
        }
    }
}

@media only screen and (max-width: 500px) {
    .header {
        background: none;
    }

    .header-container {
        padding: 0 16px;
        background-color: @yellow;
    }

    .desktop-div {
        display: none;
    }

    .mob-div {
        display: unset;
    }
}
