<div class="landing-container">
    <app-landing-header></app-landing-header>
    <div class="yellow-block cover br-15 p-35-50">
        <div class="w-1200">
            <div>
                <h1>Создайте уникальный сайт всего за один день</h1>
                <button class="br-69 h1-btn">Начать</button>
            </div>
            <div class="flex-two-third hr">
                <div class="description">
                    <div class="m-b-25 desc-btn">
                        <button class="description-btn border-dark br-69">Конструктор</button>
                        <button class="description-btn border-dark br-69">Администрирование</button>
                        <button class="description-btn border-dark br-69">Готовый сайт</button>
                    </div>
                    <p>
                        WEB2HEAD — конструктор вашего сайта. Создавайте оригинальный сайт, соответствующий вашему
                        фирменному стилю,
                        и
                        приступайте к работе.
                    </p>
                </div>
                <div class="landing-img-main">
                </div>
            </div>
        </div>
    </div>

    <div id="benefits" class="advantages-unit w-1200 m-top-bottom-50">
        <h2>Преимущества</h2>
        <div class="adv-cards">
            <div class="br-15 card">
                <p class="card-header">Контроль продаж</p>
                <p class="card-description">
                    Вы сможете отследить, какие блюда наиболее востребованы,
                    а какие не пользуются популярностью
                </p>
            </div>
            <div class="br-15 card">
                <p class="card-header">Многофункциональность</p>
                <p class="card-description">
                    Полный контроль работы кухни, зала, доставки на одном сайте
                </p>
            </div>
            <div class="br-15 card">
                <p class="card-header">Доверие клиентов</p>
                <p class="card-description">
                    Удобный в использовании и уникальный сайт заведения повышает лояльность посетителей и увеличивает
                    продажи
                </p>
            </div>
        </div>
    </div>

    <div id="workflow" class="order-list-unit w-1200 m-top-bottom-50">
        <h2>Как работать с WEB2HEAD?</h2>
        <div class="f-end">
            <div class="list">
                <ol>
                    <li>
                        При помощи удобного конструктора создайте собственный сайт. Выбирайте шаблон и производите
                        настройку
                    </li>
                    <li>
                        Загрузите информацию, меню, обозначьте условия доставки и бронирования столов
                    </li>
                    <li>
                        Принимайте и выполняйте заказы прямо через сайт, ожидайте новых гостей
                    </li>
                    <li>
                        Контролируйте работу через панель администратора, отслеживайте заказы на доставку, бронь столов,
                        обновляйте
                        меню
                    </li>
                    <li>
                        Не забудьте оставить ссылку на сайт в ваших социальных сетях
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="structure" class="statistic-unit w-1200 m-top-bottom-50">
        <h2>Немного цифр</h2>
        <div class="cards">
            <div class="br-15 card">
                <p class="card-header">86%</p>
                <p class="description">
                    опрошенных перед выходом из дома знакомятся с меню на сайте заведения
                </p>
            </div>
            <div class="br-15 card">
                <p class="card-header">50%</p>
                <p class="description">
                    заказов одиночным точкам общественного питания приносит служба доставки
                </p>
            </div>
            <div class="br-15 card">
                <p class="card-header">83%</p>
                <p class="description">
                    предпочитают заранее забронировать стол, чтобы избежать нехватки места
                </p>
            </div>
            <div class="br-15 card">
                <p class="card-header">80%</p>
                <p class="description">
                    заказам крупным ресторанным сетям приносит служба доставки.
                </p>
            </div>
        </div>
    </div>

    <div class="phrase w-1200 m-top-bottom-50">
        Не упустите свою выручку, позвольте посетителям возможность заказать блюда домой или забронировать стол.
    </div>

    <div id="pricing" class="prices w-1200 m-top-bottom-50">
        <h2>Стоимость</h2>
        <div class="price-cards">
            <div class="card">
                <p class="period">На месяц</p>
                <p class="description">
                    Сомневаетесь в эффективности WEB2HEAD? Оформите подписку на один месяц и убедитесь в удобстве и
                    пользе сайта
                </p>
                <button class="btn-m border-dark btn">2500 ₽</button>
            </div>
            <div class="card">
                <p class="period">На год</p>
                <p class="description">
                    С подпиской на год вы сэкономите (??) рублей, получая при этом приток новых посетителей.
                </p>
                <button class="btn-m border-dark btn">20 000 ₽</button>
            </div>
            <div class="card">
                <p class="period">Навсегда</p>
                <p class="description">
                    Забудьте об оплате подписки. Заплатите всего один раз по выгодной цене и пользуйтесь сайтом
                    безвременно.
                </p>
                <button class="btn-m border-dark btn">Цена по запросу</button>
            </div>
        </div>
    </div>

    <div class="yellow-block callback br-15 p-35-50">
        <div class="flex-2it-sb w-1200">
            <div class="cta-div w-50">
                <h3>Остались вопросы?</h3>
                <p>Заполните форму обратной связи и ожидайте звонка от нашего менеджера</p>
            </div>
            <div class="w-50">
                <form class="callback-form br-15" [formGroup]="callbackForm">
                    <div class="m-b-16">
                        <tui-input formControlName="userName">
                            Name
                            <input
                                tuiTextfield
                                type="text"
                            />
                        </tui-input>
                        <tui-error
                            formControlName="userName"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>

                    <div class="m-b-16">
                        <tui-input formControlName="userEmail" class="m-b-16">
                            Email
                            <input
                                tuiTextfield
                                type="email"
                            />
                        </tui-input>
                        <tui-error
                            formControlName="userEmail"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>

                    <div class="m-b-16">
                        <tui-input-phone-international
                            formControlName="userPhone"
                            class="input"
                            [countries]="(countries | tuiSortCountries | async) || []"
                            [(countryIsoCode)]="countryIsoCode"
                        >
                            Type your number
                        </tui-input-phone-international>
                        <tui-error
                            formControlName="userPhone"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>

                    <div class="f-end" *ngIf="!(isFormSendSuccess | async); else successBtn">
                        <button class="btn-l border-dark btn-dark-white-hover btn-send"
                                (click)="onCallbackFormSubmit()">Связаться
                        </button>
                    </div>
                    <ng-template #successBtn>
                        <div class="f-end">
                            <button class="btn-l border-dark btn-white-dark-hover btn-send">Успешно!</button>
                        </div>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>

    <app-landing-footer></app-landing-footer>

</div>
