@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9A4kDNxMZdWfMOD5VvkrCqYTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrAGQBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrBiQxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5VvkojO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrA6Qhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrAWRRf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrByRBf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrBuRxf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9f4kDNxMZdWfMOD5VvkrBKRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9C4kDNxMZdWfMOD5Vn9IjO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnWKnuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnSKzuQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnLK3uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnMK7uQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v16/va9B4kDNxMZdWfMOD5VnFK_uQQ.ttf) format('truetype');
}
/* global colors */
/* global numbers */
a {
  text-decoration: none;
  color: #323232;
}
p {
  line-height: 110%;
  margin: 0;
}
.custom-breadcrumbs {
  max-width: 1200px;
  margin: 48px auto 12px;
}
.section-name {
  font-size: 20px;
}
.br-69 {
  border-radius: 69px;
}
.br-15 {
  border-radius: 15px;
}
.p-35-50 {
  padding: 35px 50px;
}
.p-0-60 {
  padding: 0 60px;
}
.flex-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
}
.flex-row-s-between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flex-row-f-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
}
.flex-third-two {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.flex-third-two > *:nth-child(1) {
  width: calc(100% / 3 * 2);
}
.flex-third-two > *:nth-child(2) {
  width: calc(100% / 3 * 1);
}
.flex-two-third {
  display: flex;
  flex-direction: row;
  margin: 1rem 3rem;
  gap: 24px;
}
.flex-two-third > *:nth-child(1) {
  width: calc(100% / 3 * 1);
}
.flex-two-third > *:nth-child(2) {
  width: calc(100% / 3 * 2);
}
.align-center {
  align-items: center;
}
.align-f-end {
  align-items: flex-end;
}
.f-end {
  display: flex;
  justify-content: flex-end;
}
.f-column {
  display: flex;
  flex-direction: column;
}
.flex-50 {
  flex: 50%;
}
.m-0-auto {
  margin: 0 auto;
}
.m-b-12 {
  margin-bottom: 12px;
}
.m-b-24 {
  margin-bottom: 24px;
}
.m-b-32 {
  margin-bottom: 32px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-top-32 {
  margin-top: 32px;
}
.m-top-58 {
  margin-top: 58px;
}
.w-1440 {
  max-width: 1440px;
  margin: 0 auto;
}
.w-1160 {
  max-width: 1160px;
  margin: 0 auto;
}
.w-1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.p-relative {
  position: relative;
}
/* buttons */
.btn-m {
  padding: 10px 24px;
  border-radius: 45px;
}
.btn-l {
  padding: 12.5px 37.5px;
  border-radius: 69px;
  font-size: 16px;
}
.btn-dark-white-hover {
  background-color: #323232;
  color: #FFFFFF;
  border: 1px solid #323232;
  transition: 0.3s;
  cursor: pointer;
}
.btn-dark-white-hover:hover {
  background-color: #FFFFFF;
  color: #323232;
}
.btn-yellow-white-hover {
  background-color: #FFFD72;
  color: #323232;
  border: 1px solid #323232;
  transition: 0.3s;
  cursor: pointer;
}
.btn-yellow-white-hover:hover {
  background-color: #FFFFFF;
}
.btn-white-dark-hover {
  background-color: #FFFFFF;
  border: 1px solid #323232;
  cursor: pointer;
  transition: 0.3s;
}
.btn-white-dark-hover:hover {
  background-color: #323232;
  color: #FFFFFF;
}
.border-white {
  border: 1px solid #F6F6F6;
  color: #F6F6F6;
}
.border-dark {
  border: 1px solid #323232;
}
.landing-container {
  background-color: #323232;
  color: #FFFFFF;
}
.yellow-block {
  background-color: #FFFD72;
  color: #323232;
}
.yellow-block h1 {
  font-weight: 600;
  font-size: 80px;
  line-height: 110%;
  display: inline;
}
.yellow-block .h1-btn {
  padding: 15px 60px;
  background-color: #323232;
  color: #F6F6F6;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  position: relative;
  top: -12px;
  margin-left: 32px;
}
.landing-img-main {
  background-image: url('../../../assets/imgs/landing-img-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}
.description-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: none;
  padding: 4px 30px;
}
.description-btn:nth-child(2) {
  margin: 0 24px;
}
.hr {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1.5px solid #323232;
}
.m-b-25 {
  margin-bottom: 25px;
}
.flex-two-third {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.flex-two-third > *:nth-child(1) {
  width: calc(100% / 3 * 2);
}
.flex-two-third > *:nth-child(2) {
  width: calc(100% / 3 * 1);
}
.description p {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}
h2 {
  font-weight: 400;
  font-size: 68px;
  line-height: 110%;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.m-top-bottom-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.advantages-unit .adv-cards {
  color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.advantages-unit .adv-cards .card {
  background-color: #FFFFFF;
  max-width: 430px;
  padding: 30px;
  flex: 1 1 0;
}
.advantages-unit .adv-cards .card p {
  margin: 0;
}
.advantages-unit .adv-cards .card .card-header {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 20px;
}
.advantages-unit .adv-cards .card .card-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.order-list-unit .list {
  width: calc(100% / 3 * 2);
  max-width: 880px;
}
.order-list-unit .list ol {
  list-style: none;
  counter-reset: round-counter;
  position: relative;
}
.order-list-unit .list ol li {
  counter-increment: round-counter;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 40px;
}
.order-list-unit .list ol li::before {
  content: counter(round-counter);
  font-size: 32px;
  line-height: 36px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
  padding: 15px 25px;
  left: -100px;
  position: absolute;
}
.statistic-unit .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.statistic-unit .cards .card {
  background-color: #FFFD72;
  color: #323232;
  flex: 40%;
  padding: 30px;
}
.statistic-unit .cards .card .card-header {
  font-weight: 400;
  font-size: 92px;
  line-height: 105%;
  letter-spacing: -0.04em;
  margin: 0;
}
.statistic-unit .cards .card .description {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 2px solid #323232;
}
.phrase {
  color: #FFFD72;
  font-weight: 600;
  font-size: 76px;
  line-height: 120%;
}
.prices .price-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.prices .price-cards .card {
  background-color: #FFFFFF;
  color: #323232;
  border-radius: 15px;
  padding: 30px;
  max-width: 430px;
  height: 240px;
  position: relative;
  flex: 1 1 0;
}
.prices .price-cards .card .period {
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 0;
}
.prices .price-cards .card .description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0;
}
.prices .price-cards .card .btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  bottom: 30px;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}
.prices .price-cards .card .btn:hover {
  color: #FFFFFF;
  background-color: #323232;
}
.flex-2it-sb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flex-2it-sb .w-50 {
  width: 50%;
}
.cta-div {
  max-width: 600px;
}
.cta-div h3 {
  font-size: 64px;
  line-height: 110%;
}
.cta-div p {
  font-size: 36px;
  line-height: 110%;
}
.callback-form {
  background-color: #FFFFFF;
  padding: 35px;
  border: 1px solid #323232;
}
.callback-form .form-input {
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-family: 'GolosTextWebVF', sans-serif;
}
.callback-form .m-b-16 {
  margin-bottom: 16px;
}
.callback-form .btn-send {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  padding: 11.5px 60px;
  margin-top: 26px;
}
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 38px;
  }
  .w-1200 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .cover {
    padding: 20px 0;
  }
  .cover h1 {
    font-size: 38px;
  }
  .cover .h1-btn {
    top: -5px;
    left: 14px;
    margin: 0;
    padding: 6px 30px;
    font-size: 14px;
  }
  .cover .flex-two-third {
    flex-direction: column;
    margin: 0;
  }
  .cover .flex-two-third > * {
    width: 100%;
  }
  .cover .flex-two-third .description {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .cover .flex-two-third .description p {
    font-size: 24px;
  }
  .cover .flex-two-third .desc-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .cover .flex-two-third .desc-btn .description-btn {
    font-size: 12px;
    line-height: 120%;
    padding: 0 10px;
  }
  .cover .flex-two-third .desc-btn .description-btn:nth-child(2) {
    margin: 0;
  }
  .cover .landing-img-main {
    background-position: center center;
    height: 200px;
  }
  .advantages-unit .adv-cards {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .advantages-unit .adv-cards::-webkit-scrollbar {
    display: none;
  }
  .advantages-unit .adv-cards .card {
    flex: 0 0 260px;
  }
  .order-list-unit .f-end {
    justify-content: flex-start;
  }
  .order-list-unit .list {
    width: 100%;
    margin-left: 70px;
  }
  .order-list-unit .list ol li {
    font-size: 18px;
  }
  .order-list-unit .list ol li:before {
    font-size: 20px;
    line-height: 24px;
    padding: 15px 21px;
    left: -70px;
  }
  .phrase {
    color: #323232;
    font-size: 38px;
    background-color: #FFFD72;
    margin: 0 !important;
    padding: 25px 20px;
    border-radius: 20px;
  }
  .statistic-unit .cards {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .statistic-unit .cards .card {
    background: none;
    padding: 0;
    width: 80%;
  }
  .statistic-unit .cards .card:nth-child(odd) {
    align-self: end;
  }
  .statistic-unit .cards .card .card-header {
    color: #FFFFFF;
    font-size: 80px;
  }
  .statistic-unit .cards .card .description {
    color: #C3C3C3;
    border-color: #C3C3C3;
    font-size: 18px;
    line-height: 120%;
  }
  .prices .price-cards {
    flex-direction: column;
    justify-content: normal;
  }
  .prices .price-cards .card {
    flex: initial;
  }
  .prices .price-cards .card .description {
    font-size: 18px;
    line-height: 120%;
  }
  .callback {
    padding: 20px 0;
  }
  .callback .flex-2it-sb {
    flex-direction: column;
  }
  .callback .flex-2it-sb .w-50 {
    width: 100%;
  }
  .callback .cta-div {
    margin-bottom: 30px;
  }
  .callback .cta-div h3 {
    font-size: 38px;
  }
  .callback .cta-div p {
    font-size: 28px;
  }
  .callback .callback-form .form-input {
    font-size: 16px;
    padding: 12px;
  }
  .callback .callback-form .btn-send {
    font-size: 18px;
    padding: 10px 40px;
  }
}
/*# sourceMappingURL=landing.component.css.map */