@import "../../../styles/global";

.landing-container {
    background-color: @dark;
    color: @white-f;
}

.yellow-block {
    background-color: @yellow;
    color: @dark;

    h1 {
        font-weight: 600;
        font-size: 80px;
        line-height: 110%;
        display: inline;
    }

    .h1-btn {
        padding: 15px 60px;
        background-color: @dark;
        color: @white-1;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        position: relative;
        top: -12px;
        margin-left: 32px;
    }
}

.landing-img-main {
    background-image: url('../../../assets/imgs/landing-img-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.description-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: none;
    padding: 4px 30px;

    &:nth-child(2) {
        margin: 0 24px;
    }
}

.hr {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1.5px solid @dark;
}

.m-b-25 {
    margin-bottom: 25px;
}

.flex-two-third {
    display: flex;
    flex-direction: row;
    margin: 1rem;

    > * {

        &:nth-child(1) {
            width: calc(100% / 3 * 2);
        }

        &:nth-child(2) {
            width: calc(100% / 3 * 1);
        }
    }
}

.description {
    p {
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
    }
}

h2 {
    font-weight: 400;
    font-size: 68px;
    line-height: 110%;
    margin-bottom: 30px;
    color: @white-f;
}

.m-top-bottom-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.advantages-unit {

    .adv-cards {
        color: @dark;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        .card {
            background-color: @white-f;
            max-width: 430px;
            padding: 30px;
            flex: 1 1 0;

            p {
                margin: 0;
            }

            .card-header {
                font-family: 'Fira Sans', sans-serif;
                font-weight: 700;
                font-size: 22px;
                line-height: 100%;
                margin-bottom: 20px;
            }

            .card-description {
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
            }
        }
    }
}

.order-list-unit {
    .list {
        width: calc(100% / 3 * 2);
        max-width: 880px;

        ol {
            list-style: none;
            counter-reset: round-counter;
            position: relative;

            li {
                counter-increment: round-counter;
                font-weight: 400;
                font-size: 28px;
                line-height: 130%;
                margin-bottom: 40px;

                &::before {
                    content: counter(round-counter);
                    font-size: 32px;
                    line-height: 36px;
                    border: 1.5px solid @white-f;
                    border-radius: 50%;
                    padding: 15px 25px;
                    left: -100px;
                    position: absolute;
                }
            }
        }
    }
}

.statistic-unit {
    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;

        .card {
            background-color: @yellow;
            color: @dark;
            flex: 40%;
            padding: 30px;

            .card-header {
                font-weight: 400;
                font-size: 92px;
                line-height: 105%;
                letter-spacing: -0.04em;
                margin: 0;
            }

            .description {
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                padding-top: 10px;
                margin-top: 10px;
                border-top: 2px solid @dark;
            }
        }
    }
}

.phrase {
    color: @yellow;
    font-weight: 600;
    font-size: 76px;
    line-height: 120%;
}

.prices {
    .price-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;


        .card {
            background-color: @white-f;
            color: @dark;
            border-radius: 15px;
            padding: 30px;
            max-width: 430px;
            height: 240px;
            position: relative;
            flex: 1 1 0;

            .period {
                font-family: 'Fira Sans', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 100%;
                margin: 0;
            }

            .description {
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                margin: 20px 0;
            }

            .btn {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                position: absolute;
                bottom: 30px;
                background: none;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: @white-f;
                    background-color: @dark;
                }
            }
        }
    }
}

.flex-2it-sb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .w-50 {
        width: 50%;
    }
}

.cta-div {
    max-width: 600px;

    h3 {
        font-size: 64px;
        line-height: 110%;
    }

    p {
        font-size: 36px;
        line-height: 110%;
    }
}

.callback-form {
    background-color: @white-f;
    padding: 35px;
    border: 1px solid @dark;

    .form-input {
        padding: 20px;
        border-radius: 10px;
        font-size: 24px;
        font-family: 'GolosTextWebVF', sans-serif;
    }

    .m-b-16 {
        margin-bottom: 16px;
    }

    .btn-send {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        padding: 11.5px 60px;
        margin-top: 26px;
    }
}

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 38px;
    }

    .w-1200 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .cover {
        padding: 20px 0;

        h1 {
            font-size: 38px;
        }

        .h1-btn {
            top: -5px;
            left: 14px;
            margin: 0;
            padding: 6px 30px;
            font-size: 14px;
        }

        .flex-two-third {
            flex-direction: column;
            margin: 0;

            > * {
                width: 100%;
            }

            .description {
                display: flex;
                flex-direction: column-reverse;
                gap: 20px;

                p {
                    font-size: 24px;
                }
            }

            .desc-btn {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin: 0;

                .description-btn {
                    font-size: 12px;
                    line-height: 120%;
                    padding: 0 10px;

                    &:nth-child(2) {
                        margin: 0;
                    }
                }
            }
        }

        .landing-img-main {
            background-position: center center;
            height: 200px;
        }
    }

    .advantages-unit {
        .adv-cards {
            justify-content: flex-start;
            flex-wrap: nowrap;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */

            .card {
                flex: 0 0 260px;
            }
        }
    }

    .order-list-unit {
        .f-end {
            justify-content: flex-start;
        }

        .list {
            width: 100%;
            margin-left: 70px;

            ol {
                li {
                    font-size: 18px;

                    &:before {
                        font-size: 20px;
                        line-height: 24px;
                        padding: 15px 21px;
                        left: -70px;
                    }
                }
            }
        }
    }

    .phrase {
        color: @dark;
        font-size: 38px;
        background-color: @yellow;
        margin: 0 !important;
        padding: 25px 20px;
        border-radius: 20px;
    }

    .statistic-unit {
        .cards {
            flex-direction: column;
            flex-wrap: nowrap;

            .card {
                background: none;
                padding: 0;
                width: 80%;

                &:nth-child(odd) {
                    align-self: end;
                }

                .card-header {
                    color: @white-f;
                    font-size: 80px;
                }

                .description {
                    color: @gray-2;
                    border-color: @gray-2;
                    font-size: 18px;
                    line-height: 120%;
                }
            }
        }
    }

    .prices {
        .price-cards {
            flex-direction: column;
            justify-content: normal;

            .card {
                flex: initial;

                .description {
                    font-size: 18px;
                    line-height: 120%;
                }
            }
        }
    }

    .callback {
        padding: 20px 0;

        .flex-2it-sb {
            flex-direction: column;

            .w-50 {
                width: 100%;
            }
        }

        .cta-div {
            margin-bottom: 30px;

            h3 {
                font-size: 38px;
            }

            p {
                font-size: 28px;
            }
        }

        .callback-form {
            .form-input {
                font-size: 16px;
                padding: 12px;
            }

            .btn-send {
                font-size: 18px;
                padding: 10px 40px;
            }
        }
    }
}
