@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import "../../../styles/global";

.tiles {
    width: 100%;
    gap: 24px;
    grid-auto-rows: minmax(var(--tui-height-l), auto);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    //cursor: pointer;

    &:hover {
        background-color: @white-2;
    }

    .transition(box-shadow);
    height: 100%;
    padding: 0 1rem;
    background: var(--tui-base-01);
    border-radius: var(--tui-radius-l);
    border: 1px solid var(--tui-base-03);

    .tile-btn-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .tile-btn {
        cursor: ns-resize;
    }

    .del-btn {
        height: 14px;
        width: 14px;
        padding: 0;
        margin-left: 8px;
    }

    &.active {
        background-color: @white-2;
        border: 1px solid @gray-2;
    }

    tui-tile._dragged & {
        .shadow(1);
    }
}

.flex-2col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 50px auto 0;
    gap: 24px;
    padding: 0 24px;
}

.flex-item {
    width: 50%;
    max-width: 600px;
}

.h-500 {
    height: 500px;
}

.overflow-y-auto {
    overflow-y: auto;
}

.edit-heading {
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 400;
}

.item-form {
    .form-input {
        border-radius: 10px;
        padding: 24px 10px 10px;
        font-size: 16px;
    }
}

.btn-container {
    gap: 30px;
    margin-top: 50px;
}

.btn-l {
    padding: 8px 25px;
}

.disabled {
    background-color: @white-2;
    cursor: not-allowed;

    &:hover {
        color: @dark;
        background-color: @white-2;
    }
}

.cursor-pointer {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
