<app-user-header></app-user-header>

<div class="flex-2col">
    <div class="flex-item">
        <h3 *ngIf="isAddNew" class="edit-heading">Новый раздел</h3>
        <h3 *ngIf="!isAddNew" class="edit-heading">Редактирование раздела</h3>
        <div class="h-500">
            <form [formGroup]="categoryForm" class="item-form">
                <div class="m-b-24">
                    <tui-input formControlName="categoryName">
                        Название раздела
                        <input
                            tuiTextfield
                            type="text"
                        />
                    </tui-input>
                    <tui-error
                        formControlName="categoryName"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>
                <!--<div class="m-b-24">
                    <tui-input-number
                        formControlName="categoryPosition"
                    >
                        Порядковый номер*
                    </tui-input-number>
                    <tui-error
                        formControlName="categoryPosition"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>-->
            </form>
        </div>
        <div class="btn-container f-end">
            <button class="br-69 btn-l btn-white-dark-hover" (click)="resetForm()">Отменить</button>
            <button class="br-69 btn-l btn-white-dark-hover" (click)="submitForm()">Добавить раздел</button>
        </div>
    </div>
    <div class="flex-item">
        <h3 class="edit-heading">Созданные разделы меню</h3>
        <div class="h-500 overflow-y-auto">
            <tui-tiles
                [(order)]="order"
                class="tiles"
                (orderChange)="unlockUpdateOrderBtn()"
            >
                <tui-tile
                    *ngFor="let item of menuCategories; let index = index"
                    class="tile"
                    [style.order]="order.get(index)"
                >
                    <div
                        [class.active]="item.id === activeItemId"
                        class="content"
                    >
                        <div
                            class="cursor-pointer category-name"
                            (click)="getActiveCategoryItemInfo(item.id)"
                        >
                            {{ item.categoryName }}
                        </div>
                        <div class="tile-btn-container">
                            <tui-svg
                                tuiTileHandle
                                src="tuiIconDragLarge"
                                class="tile-btn"
                            ></tui-svg>
                            <button
                                class="del-btn"
                                (click)="showModal(item.id)"
                            >
                                <img src="../../../assets/imgs/x-dark-icon.svg" alt="delete-icon">
                            </button>
                        </div>
                    </div>
                </tui-tile>
            </tui-tiles>
        </div>
        <div class="btn-container f-end">
            <button
                class="br-69 btn-l btn-white-dark-hover"
                [class.disabled]="isUpdateOrderBtnDisabled"
                [disabled]="isUpdateOrderBtnDisabled"
                (click)="updateCategoriesOrder()"
            >
                Обновить очередность
            </button>
            <button class="br-69 btn-l btn-dark-white-hover" (click)="returnToMenu()">Перейти в меню</button>
        </div>
    </div>
</div>

<ng-template
    let-observer
    [(tuiDialog)]="displayModal"
    [tuiDialogOptions]="{label: 'Удалить категорию?'}"
>
    <div class="f-column m-top-58">
        <button class="btn-l btn-dark-white-hover m-b-24" (click)="deleteCategory()">Да</button>
        <button class="btn-l btn-white-dark-hover" (click)="displayModal=false">Нет</button>
    </div>
</ng-template>
