<div class="header-container flex-inline w-1200">
    <img class="logo" src="./assets/imgs/web2head-logo-txt.svg" alt="web2head-logo">
    <div class="flex-inline desk-menu">
        <nav>
            <a href="/landing#benefits" class="btn-l border-white m-0-20">Преимущества</a>
            <a href="/landing#workflow" class="btn-l border-white m-0-20">Принцип работы</a>
            <a href="/landing#structure" class="btn-l border-white m-0-20">Структура</a>
            <a href="/landing#pricing" class="btn-l border-white m-0-20">Купить подписку</a>
        </nav>
        <div class="login-btn br-69 border-white" (click)="toggleLoginModal()">
        </div>
    </div>
    <div class="mob-div">
        <button class="hamburger-btn" (click)="toggleMobMenu()">
            <span class="line line-1" [class.btn-open]="displayMenu"></span>
            <span class="line line-2" [class.btn-open]="displayMenu"></span>
            <span class="line line-3" [class.btn-open]="displayMenu"></span>
        </button>
    </div>
</div>
<div class="mob-menu-list" [class.visible]="displayMenu">
    <nav class="mob-nav">
        <a href="/landing#benefits" class="nav-link">Преимущества</a>
        <a href="/landing#workflow" class="nav-link">Принцип работы</a>
        <a href="/landing#structure" class="nav-link">Структура</a>
        <a href="/landing#pricing" class="nav-link">Купить подписку</a>
    </nav>
</div>

<!--  LOGIN MODAL  -->
<ng-template
    let-observer
    [(tuiDialog)]="isDisplayLoginModal"
    [tuiDialogOptions]="{label: 'Вход на сайт'}"
>
    <div *ngIf="!isDisplayCodeInput; else codeInput" class="">
        <div class="m-b-24">
            <form [formGroup]="phoneForm">
                <div class="form-group">
                    <tui-input-phone-international
                        formControlName="phone"
                        class="input"
                        [countries]="(countries | tuiSortCountries | async) || []"
                        [(countryIsoCode)]="countryIsoCode"
                    >
                        Type your number
                    </tui-input-phone-international>
                </div>
            </form>
        </div>
        <button
            class="btn-l border-dark confirm-btn"
            (click)="onSendPhoneNum()"
        >
            Выслать код
        </button>
    </div>

    <ng-template #codeInput>
        <div class="code-input-div">
            <code-input [isCodeHidden]="false"
                        [codeLength]="4"
                        (codeChanged)="onCodeChanged($event)"
                        (codeCompleted)="onCodeCompleted($event)">
            </code-input>
        </div>
        <div *ngIf="isDisplayCodeTimer; else noTimerBtn">
            <button
                class="btn-l border-dark confirm-btn inactive"
            >
                Получить новый код через {{codeTimerCounter}} сек.
            </button>
        </div>
        <ng-template #noTimerBtn>
            <button
                class="btn-l border-dark confirm-btn"
                (click)="getNewCode()"
            >
                Получить новый код
            </button>
        </ng-template>
    </ng-template>
</ng-template>
