@import "../../../styles/global";

.flex-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 42px;
}

.header-container {
    background-color: @dark;
    height: 80px;

    a {
        color: @white-1;
        transition: 0.3s;
        margin-right: 12px;

        &:hover {
            color: @dark;
            background-color: @white-1;
        }
    }
}

.m-0-24 {
    margin: 0 20px;
}

.login-btn {
    background: no-repeat url("../../../assets/imgs/profile-icon-light.svg") center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: no-repeat center url("../../../assets/imgs/profile-icon-dark.svg"), @white-1;
    }
}

.mob-div {
    display: none;
}

.hamburger-btn {
    height: 20px;
    width: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line {
        display: block;
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: @white-1;
    }

    .line-1 {
        transform-origin: 0 0;
        transition: transform 0.4s ease-in-out;

        &.btn-open {
            transform: rotate(45deg);
        }
    }

    .line-2 {
        transition: transform 0.2s ease-in-out;

        &.btn-open {
            transform: scaleY(0);
        }
    }

    .line-3 {
        transform-origin: 0 100%;
        transition: transform 0.4s ease-in-out;

        &.btn-open {
            transform: rotate(-45deg);
        }
    }
}

.mob-menu-btn {
    display: none;
}

.mob-menu-list {
    display: none;

    &.visible {
        display: initial;
    }
}

.mob-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .nav-link {
        color: @white-1;
        font-size: 22px;
        margin: 12px 0;
    }
}

.form-group {

    .form-control {
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 26px;
        padding: 24px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 24px;
    }
}

.code-input-div {
    width: 400px;
    margin: 0 auto 40px;
}

/*code-input {
    --item-spacing: 24px;
    --item-border-radius: 10px
}*/

.inactive.confirm-btn {
    background: @dark;
    color: @white-f;
    transition: 0.3s;
}

.confirm-btn {
    background: @white-f;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 500px) {
    .header-container {
        margin: 0 20px;
    }

    .mob-div {
        display: initial;
    }

    .desk-menu {
        display: none;
    }

    .mob-menu-btn {
        display: initial;
    }

    .yellow-block {
        padding: 20px;
    }
}
