@import 'global';

.carousel {
    position: relative;

    &-container {
        min-height: 540px;
        width: calc(100% - 120px);
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        box-sizing: border-box;
    }

    &-item {
        width: 100%;
        position: absolute;
        left: -100%;
        box-sizing: border-box;
        transition: left 0.3s;

        &.active {
            left: 0;

            & + .carousel-item {
                left: 100%;
            }
        }

        &:nth-child(1) {
            z-index: 4;
        }

        &:nth-child(2) {
            z-index: 3;
        }

        &:nth-child(3) {
            z-index: 2;
        }

        &:nth-child(4) {
            z-index: 1;
        }
    }

    &-control {
        position: absolute;
        height: 30px;
        top: 40%;
        left: 20px;

        &.next {
            left: auto;
            right: 20px;
        }
    }
}

.block-heading {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    margin-bottom: 24px;

    .block-name {
        font-size: 26px;
        font-weight: 400;
        color: @dark-2;
        line-height: 100%;
    }

    .block-hint {
        font-size: 18px;
        color: @gray-2;
    }
}

.section-name {
    margin: 0;
}

.btn-l {
    padding: 10px 60px;
    margin-top: 24px;
}

.cover-1 {
    min-height: 530px;
}

.btn {
    min-height: 250px;
}

.menu {
    min-height: 350px;
}

.text {
    min-height: 426px;
}

.banner {
    min-height: 430px;
}

.gallery {
    min-height: 594px;
}

.contacts {
    min-height: 340px
}
