<app-user-header></app-user-header>

<ng-container *ngIf="selectedSections">
    <div class="flex-row-s-between">
        <h3 class="section-name">Редактирование разелов</h3>
        <div class="flex-inline">
            <button class="btn-m btn-yellow-white-hover" (click)="onSaveClick()">Сохранить</button>
            <button class="btn-m btn-dark-white-hover" (click)="openPreview()">Предпросмотр</button>
        </div>
    </div>

    <!--  COVER BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Обложка</p>
            <p class="block-hint">Первый блок, который будут видеть Ваши клиенты</p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.cover)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container cover">
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.cover, 1)">
                <app-cover-v1></app-cover-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.cover, 1)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.cover, 1)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.cover, 1)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.cover, 1)"
                >
                    Выбрано
                </button>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.cover, 2)">
                <app-cover-v2></app-cover-v2>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.cover, 2)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.cover, 2)"
                >
                    Выбрать
                </button>

                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.cover, 2)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.cover, 2)"
                >
                    Выбрано
                </button>
            </div>
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.cover)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>

    <!--  BUTTONS BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Кнопки</p>
            <p class="block-hint">побудите ваших клиентов к действию</p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.buttons)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container btn">
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.buttons, 1)">
                <app-buttons-v1></app-buttons-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.buttons, 1); else selectedBtn"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.buttons, 1)"
                >
                    Выбрать
                </button>
                <ng-template #selectedBtn>
                    <button
                        class="btn-l btn-white-dark-hover"
                        (click)="toggleSectionItemSelection(siteSectionsEnum.buttons, 1)"
                    >
                        Выбрано
                    </button>
                </ng-template>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.buttons, 2)">
                <app-buttons-v2></app-buttons-v2>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.buttons, 2)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.buttons, 2)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.buttons, 2)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.buttons, 2)"
                >
                    Выбрано
                </button>
            </div>
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.buttons)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>

    <!--  MENU BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Меню</p>
            <p class="block-hint">с помощью этого виджета на главной странице показываются некоторые позиции меню или
                разделы меню</p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.menu)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container menu">
            <div class="carousel-item " [class.active]="isSectionActive(siteSectionsEnum.menu, 1)">
                <app-menu-v1></app-menu-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.menu, 1)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.menu, 1)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.menu, 1)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.menu, 1)"
                >
                    Выбрано
                </button>
            </div>
            <!--<div class="carousel-item " [class.active]="isActive === 2">

            </div>-->
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.menu)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>

    <!--  TEXT BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Текст</p>
            <p class="block-hint">Расскажите о себе больше</p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.text)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container text">
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.text, 1)">
                <app-text-v1></app-text-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.text, 1)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 1)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.text, 1)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 1)"
                >
                    Выбрано
                </button>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.text, 2)">
                <app-text-v2></app-text-v2>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.text, 2)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 2)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.text, 2)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 2)"
                >
                    Выбрано
                </button>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.text, 3)">
                <app-text-v3></app-text-v3>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.text, 3)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 3)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.text, 3)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 3)"
                >
                    Выбрано
                </button>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.text, 4)">
                <app-text-v4></app-text-v4>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.text, 4)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 4)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.text, 4)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.text, 4)"
                >
                    Выбрано
                </button>
            </div>
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.text)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>

    <!--  BANNER BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Баннер</p>
            <p class="block-hint">привлеките внимание ваших клиентов </p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.banner)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container banner">
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.banner, 1)">
                <app-banner-v1></app-banner-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.banner, 1)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.banner, 1)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.banner, 1)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.banner, 1)"
                >
                    Выбрано
                </button>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.banner, 2)">
                <app-banner-v2></app-banner-v2>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.banner, 2)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.banner, 2)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.banner, 2)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.banner, 2)"
                >
                    Выбрано
                </button>
            </div>
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.banner)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>

    <!--  GALLERY BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Галерея</p>
            <p class="block-hint">выгодно покажите блюда или атмосферу заведения</p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.gallery)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container gallery">
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.gallery, 1)">
                <app-gallery-v1></app-gallery-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.gallery, 1)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.gallery, 1)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.gallery, 1)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.gallery, 1)"
                >
                    Выбрано
                </button>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.gallery, 2)">
                <app-gallery-v2></app-gallery-v2>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.gallery, 2)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.gallery, 2)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.gallery, 2)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.gallery, 2)"
                >
                    Выбрано
                </button>
            </div>
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.gallery)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>

    <!--  MAP BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Карта</p>
            <p class="block-hint">покажите клиентам, как до вас добраться </p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.map)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container">
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.map, 1)">
                <app-map-v1></app-map-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.map, 1)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.map, 1)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.map, 1)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.map, 1)"
                >
                    Выбрано
                </button>
            </div>
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.map, 2)">
                <app-map-v2></app-map-v2>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.map, 2)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.map, 2)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.map, 2)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.map, 2)"
                >
                    Выбрано
                </button>
            </div>
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.map)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>

    <!--  CONTACTS BLOCK  -->
    <div class="p-relative m-b-60">
        <div class="block-heading">
            <p class="block-name">Контакты</p>
            <p class="block-hint">покажите клиентам, как до вас добраться </p>
        </div>
        <button class="carousel-control pre" (click)="displayPrevSection(siteSectionsEnum.contacts)">
            <img src="assets/imgs/arrow-left.svg" alt="previous section">
        </button>
        <div class="carousel-container contacts">
            <div class="carousel-item" [class.active]="isSectionActive(siteSectionsEnum.contacts, 1)">
                <app-contacts-v1></app-contacts-v1>
                <button
                    *ngIf="!isSectionItemSelected(siteSectionsEnum.contacts, 1)"
                    class="btn-l btn-dark-white-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.contacts, 1)"
                >
                    Выбрать
                </button>
                <button
                    *ngIf="isSectionItemSelected(siteSectionsEnum.contacts, 1)"
                    class="btn-l btn-white-dark-hover"
                    (click)="toggleSectionItemSelection(siteSectionsEnum.contacts, 1)"
                >
                    Выбрано
                </button>
            </div>
        </div>
        <button class="carousel-control next" (click)="displayNextSection(siteSectionsEnum.contacts)">
            <img src="assets/imgs/arrow-right.svg" alt="next section">
        </button>
    </div>


</ng-container>
