@import "../../../styles/global";

.item-card.add-item {
    width: 380px;
    height: 500px;
    border: 1px solid @dark;
    border-radius: 15px;
    cursor: pointer;

    .item-img {
        height: 220px;
        position: relative;
        border-bottom: 1px solid @dark-2;

        .add-img-btn {
            background: none;
            border: none;
            padding: 0;
            position: absolute;
            top: 20px;
            right: 26px;
            cursor: pointer;

            img {
                height: 32px;
            }
        }
    }

    .item-desc {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item-desc-txt {
        padding: 20px;
    }

    .item-name {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 12px;
        color: black;
    }

    .item-description {
        font-weight: 400;
        font-size: 14px;
        color: black;
    }

    .item-desc-btn {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 20px;
    }

    .item-price {
        font-weight: 400;
        font-size: 26px;
        line-height: 50px;
    }
}
