<div class="item-card add-item" (click)="addNewItem()">
    <div class="item-img">
        <button class="add-img-btn">
            <img src="assets/imgs/add-img-icon.svg" alt="add-menu-item-image">
        </button>
    </div>
    <div class="item-desc">
        <div class="item-desc-txt">
            <p class="item-name">Новая позиция</p>
            <p class="item-description">Описание позиции</p>
        </div>
        <div class="item-desc-btn">
            <p class="item-price">0 &#8381;</p>
        </div>
    </div>
</div>
