@import "global";

.cta-div {
    display: flex;
    flex-direction: row;
    gap: 34px;
    max-width: 1200px;
    margin: 50px auto;
}

.cta-btn {
    font-size: 36px;
    font-weight: 500;
    padding: 18px;
    border: 1px solid @dark;
    border-radius: 20px;
    color: @dark;
}

@media only screen and (max-width: 600px) {
    .cta-div {
        flex-direction: column;
        gap: 12px;
        margin: 30px;
    }

    .cta-btn {
        font-size: 18px;
        padding: 12px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 650px) {
    .cta-div {
        margin: 30px;
    }

    .cta-btn {
        font-size: 20px;
        padding: 14px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {
    .cta-div {
        margin: 30px;
    }

    .cta-btn {
        font-size: 22px;
        padding: 14px;
    }
}
