<div class="text">
    <div class="m-w-1200">
        <p class="text-txt bold">I must explain</p>
        <p class="text-txt">
            to you how all this mistaken idea of denouncing pleasure and praising pain was
            born and I will give you a complete account of the system
        </p>
    </div>
</div>
