@import "global";

.text {

    .m-w-1200 {
        max-width: 1200px;
        margin: 0 auto;
        background-color: @white-2;
        padding: 72px;
    }

    .text-txt {
        font-size: 44px;
        line-height: 120%;
        font-weight: 400;
    }

    .bold {
        font-weight: 700;
    }
}
@media only screen and (max-width: 500px) {
    .text {
        .m-w-1200 {
            margin: 12px;
            padding: 15px 18px;
        }

        .text-txt {
            font-size: 28px;
            line-height: 150%;
        }

        .bold {
            font-size: 32px;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .text {
        .m-w-1200 {
            margin: 30px;
            padding: 40px;
        }

        .text-txt {
            font-size: 32px;
            line-height: 140%;
        }

        .bold {
            font-size: 38px;
        }
    }
}
