<ng-container *ngIf="displayCart">
    <div class="cart-background"></div>
    <div class="cart-animation" [ngClass]="displayCart ? 'cart-visible' : ''">
        <div class="close-cart-btn" (click)="closeCart()">
            <img src="assets/imgs/x-light-icon.svg" alt="close cart">
        </div>
        <div *ngIf="cart.length > 0; else emptyCart" class="cart-container">
            <div class="cart-result">
                {{getCartTotalInfo(cart)}} &#8381;
            </div>
            <div class="cart-scroller">
                <ul class="ul-cart">
                    <li *ngFor="let item of cart" class="li-cart-item">
                        <div class="cart-item-container">
                            <div class="item-img">
                                <img src="assets/imgs/food.svg" alt="order item photo">
                            </div>
                            <div class="text-info">
                                <p class="item-name">{{item.itemName}}</p>
                                <p class="item-price">{{item.itemPrice}} &#8381;</p>
                            </div>
                            <div class="item-counter">
                                <button (click)="removeFromCart(item)">
                                    <img src="assets/imgs/minus.svg" alt="remove item">
                                </button>
                                <p class="quantity">{{item.quantity}}</p>
                                <button (click)="addToCard(item)">
                                    <img src="assets/imgs/plus.svg" alt="add item">
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="li-cart-item">
                        <div class="cart-item-container">
                            <div class="item-img">
                                <img src="assets/imgs/delivery-icon.svg" alt="delivery">
                            </div>
                            <div class="text-info">
                                <p class="item-name">Доставка</p>
                                <p class="item-price">100 &#8381;</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="go-to-cart-btn">
                <button class="btn-l btn-dark-white-hover" (click)="goToCart()">Перейти в корзину</button>
            </div>
        </div>
        <ng-template #emptyCart>
            <div class="empty-cart-container">
                <p class="header">Здесь пусто!</p>
                <p class="description">Ваша корзина на данный момент пуста, откройте «Меню» и выберите первое блюдо для заказа.</p>
            </div>
        </ng-template>
    </div>
</ng-container>
