@import "global";

.cart-background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.cart-animation {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);
    transform: translateX(660px);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: @white-f;
    width: 600px;
    z-index: 21;
}

.cart-visible {
    transform: translateX(0);
}

.close-cart-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50vh - 15px);
    right: 630px;
    z-index: 100;
    cursor: pointer;
}

.cart-container {
    width: 600px;
    height: 100%;
    background-color: @white-f;
    z-index: 21;
    position: fixed;
    right: 0;
    top: 0;
}

.cart-result {
    font-size: 32px;
    line-height: 120%;
    font-weight: 400;
    margin: 80px 50px;
}

.cart-scroller {
    max-height: calc(100vh - 150px - 200px);
    overflow: scroll;
}

.ul-cart {
    list-style: none;
    margin: 0 50px;
    padding: 0;
}

.li-cart-item {
    margin-bottom: 48px;

    &:last-child {
        margin-bottom: 0;
    }

    .cart-item-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }

    .item-img {
        flex: 0 0 54px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .text-info {
        .item-name {
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 12px;
        }

        .item-price {
            font-size: 18px;
            font-weight: 600;
            line-height: 120%;
        }
    }

    .item-counter {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }
}

.go-to-cart-btn {
    position: absolute;
    bottom: 60px;
    right: 50px;
}

.empty-cart-container {
    margin: 30vh 50px 0;
    text-align: center;

    .header {
        font-size: 38px;
        line-height: 120%;
        margin-bottom: 48px;
        font-weight: 500;
    }

    .description {
        font-size: 32px;
        line-height: 120%;
    }
}

@media only screen and (max-width: 500px) {

    .cart-animation, .cart-container {
        width: 100%;
        height: 85vh;
        top: unset;
    }

    .close-cart-btn {
        top: 20px;
        left: 30px;
        right: unset;

        img {
            filter: contrast(0.5);
        }
    }

    .cart-container {
        display: flex;
        flex-direction: column;

        .cart-result {
            margin: 60px 30px 40px;
        }

        .cart-scroller {
            max-height: calc(85vh - 120px - 60px);

            .ul-cart {
                margin: 0 30px;
            }
        }

        .go-to-cart-btn {
            width: 90vw;
            position: relative;
            margin: 0 auto;
            bottom: unset;
            right: unset;

            .btn-l {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                display: block;
            }
        }
    }
}
