<nav>
    <a routerLink="../landing">Landing</a>
    <a routerLink="../project-main">Project Main Page</a>
    <a routerLink="../client-menu">Client Menu Page</a>
    <a routerLink="../dev-mob">Components Mobile Dev</a>
</nav>
