@import "global";
@import "../../site-general-settings/site-general-settings.component";

.subscription-container {
    padding: 60px;
    background-color: @white-2;
    margin-bottom: 32px;

    .valid-through {
        font-size: 28px;
        margin-bottom: 24px;

        span {
            font-weight: 600;
        }
    }

    .not-active {
        font-size: 28px;
        font-weight: 500;
    }

    .subscription-info {
        font-size: 16px;
        margin-bottom: 24px;

        p {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.btn-sm {
    padding: 6px 24px;
    border-radius: 45px;
}
