<h3 class="settings-heading">Подписка</h3>

<div *ngIf="subscriptionData.isActive; else notActiveSubscription" class="subscription-container">
    <p *ngIf="subscriptionData.validThrough" class="valid-through">Тариф оплачен до:
        <span>{{getDate(subscriptionData.validThrough)}}</span></p>
    <div class="subscription-info">
        <p>Действует автоматическое продление подписки на тариф.</p>
        <p *ngIf="subscriptionData.nextPaymentDate">Следующий автоплатеж будет
            осуществлен: {{getDate(subscriptionData.nextPaymentDate)}}</p>
    </div>
    <button class="btn-m btn-white-dark-hover" (click)="cancelSubscription()">Отменить автоматические платежи</button>
</div>
<ng-template #notActiveSubscription>
    <div class="subscription-container">
        <p class="not-active">Подписка не активна</p>
        <div class="subscription-info">
            <p *ngIf="subscriptionData.validThrough" class="valid-through">Тариф оплачен до:
                <span>{{getDate(subscriptionData.validThrough)}}</span></p>
            <p>Ваша подписка не активна. Вы можете выбрать подходящий тариф ниже</p>
        </div>
    </div>
</ng-template>

<h3 class="settings-heading">Тарифы</h3>
<table class="tui-table">
    <tbody>
    <tr class="tui-table__tr" *ngFor="let item of tariffPlans">
        <td class="tui-table__td">{{item.name}}</td>
        <td class="tui-table__td">{{item.price}}</td>
        <td class="tui-table__td">
            <button class="btn-sm btn-dark-white-hover" (click)="selectTariff()">{{item.btnText}}</button>
        </td>
    </tr>
    </tbody>
</table>
