<h3 class="settings-heading">Подключение к платежной системе: Stripe</h3>

<p class="hint">
    На данный момент возможно подключение только к платежной системе Stripe.
    Подробная инструкция по подключению и настройке платежной системы по <a class="hint-link">ссылке</a>.
</p>

<form [formGroup]="paymentSystemForm" class="item-form">
    <tui-input
        formControlName="publishableKey"
        class="m-b-24"
    >
        Публичный ключ
        <input
            tuiTextfield
            type="text"
        />
    </tui-input>
    <tui-input
        formControlName="secretKey"
        class="m-b-24"
    >
        Секретный ключ
        <input
            tuiTextfield
            type="text"
        />
    </tui-input>
    <tui-input-copy
        formControlName="webhookUrl"
        [readOnly]="true"
        class="m-b-24"
    >
        Webhook URL
        <input
            tuiTextfield
            type="text"
        />
    </tui-input-copy>
    <tui-input
        formControlName="signingSecret"
        class="m-b-24"
    >
        Секрет для подписи
        <input
            tuiTextfield
            type="text"
        />
    </tui-input>
</form>

<div class="btn-container f-end">
    <button class="br-69 btn-l btn-white-dark-hover" (click)="resetForm()">Отменить</button>
    <button class="br-69 btn-l btn-dark-white-hover" (click)="submitForm()">Сохранить</button>
</div>
