<div class="address-container">
    <p class="address-line">Адрес</p>
    <p class="address-line">Время работы</p>
    <p class="address-line">Телефон</p>
    <p class="address-line">Почта</p>
</div>
