@import "global";

.address-container {
    padding: 32px;
    border: 1px solid @dark;

    .address-line {
        font-size: 24px;
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 750px) {

}

@media only screen and (min-width: 751px) and (max-width: 1200px) {

}
