@import "global";
@import "../../site-general-settings/site-general-settings.component";

.card-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;

    .card-desc-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 14px;
        }

        .description {
            font-size: 18px;
        }
    }
}

.item-card-big {
    width: 380px;
    height: 500px;
    border: 1px solid @dark;
    border-radius: 15px;
    position: relative;

    .item-img {
        height: 220px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
        }
    }

    .item-desc {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item-desc-txt {
        padding: 20px;
    }

    .item-name {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 12px;
        color: black;
    }

    .item-description {
        font-weight: 400;
        font-size: 14px;
        color: black;
    }

    .item-desc-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 20px 20px;
    }
}

.item-card-small {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 41.05%, rgba(0, 0, 0, 0) 73.59%), url("../../../../assets/imgs/site-examples/menu-item-img.png") no-repeat;
    height: 220px;
    width: 340px;
    border: 1px solid @dark;
    border-radius: 15px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;

    .item-name {
        color: @white-f;
        font-size: 24px;
        font-weight: 600;
    }

    .item-description {
        color: @white-f;
        font-size: 18px;
    }

    .btn-price {
        position: absolute;
        top: 28px;
        right: 28px;
        background-color: @dark;
        color: @white-1;
        font-weight: 500;
    }
}

.item-card-no-img {
    width: 340px;
    border: 1px solid @dark;
    border-radius: 15px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;

    .item-txt {

    }

    .item-name {
        color: @dark;
        font-size: 24px;
        font-weight: 600;
    }

    .item-description {
        color: @dark;
        font-size: 18px;
    }

    .btn-price {
        background-color: @dark;
        color: @white-1;
        font-weight: 500;
        width: fit-content;
    }
}
