<h3 class="settings-heading">Формат карточек меню</h3>

<div class="card-container">
    <div>
        <div class="item-card-big">
            <div class="item-img">
                <img src="assets/imgs/menu-item-img.png" alt="menu-item-image">
            </div>
            <div class="item-desc">
                <div class="item-desc-txt">
                    <p class="item-name">Куринный бризоль с пенне, сливками и сыром сливками и сыром сливками и
                        сыром</p>
                    <p class="item-description">Куринный бризоль с пенне, сливками и сыром</p>
                </div>
                <div class="item-desc-btn">
                    <button class="btn-m btn-dark-white-hover">520 &#8381;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-desc-btn-container">
        <div>
            <p class="header">Шаблон №1</p>
            <p class="description">Формат карточек меню</p>
        </div>
        <div>
            <button (click)="updateSelectedMenuCardsStyle(1)" *ngIf="selectedMenuCardsStyle !== 1" class="btn-l btn-dark-white-hover">Выбрать</button>
            <button *ngIf="selectedMenuCardsStyle === 1" class="btn-l btn-white-dark-hover">Выбрано</button>
        </div>
    </div>
</div>

<div class="card-container">
    <div>
        <div class="item-card-small">
            <p class="item-name">Куринный бризоль</p>
            <p class="item-description">Куринный бризоль с пенне, сливками и сыром</p>
            <button class="btn-m btn-price">520 ₽</button>
        </div>
    </div>
    <div class="card-desc-btn-container">
        <div>
            <p class="header">Шаблон №2</p>
            <p class="description">Формат карточек меню</p>
        </div>
        <div>
            <button (click)="updateSelectedMenuCardsStyle(2)" *ngIf="selectedMenuCardsStyle !== 2" class="btn-l btn-dark-white-hover">Выбрать</button>
            <button *ngIf="selectedMenuCardsStyle === 2" class="btn-l btn-white-dark-hover">Выбрано</button>
        </div>
    </div>
</div>

<div class="card-container">
    <div>
        <div class="item-card-no-img">
            <div class="item-txt">
                <p class="item-name">Куринный бризоль</p>
                <p class="item-description">Куринный бризоль с пенне, сливками и сыром</p>
            </div>
            <button class="btn-m btn-price">520 ₽</button>
        </div>
    </div>
    <div class="card-desc-btn-container">
        <div>
            <p class="header">Шаблон №3</p>
            <p class="description">Формат карточек меню без изображения</p>
        </div>
        <div>
            <button (click)="updateSelectedMenuCardsStyle(3)" *ngIf="selectedMenuCardsStyle !== 3" class="btn-l btn-dark-white-hover">Выбрать</button>
            <button *ngIf="selectedMenuCardsStyle === 3" class="btn-l btn-white-dark-hover">Выбрано</button>
        </div>
    </div>
</div>
