<div class="container">
    <h3 class="settings-heading">Контент главной страницы</h3>

    <form [formGroup]="mainPageDataForm" class="item-form">
        <div *ngFor="let section of mainPageData">
            <div class="section-desc-container">
                <p class="section-name">{{section.sectionName}}</p>
                <p class="section-hint">{{section.sectionHint}}</p>
            </div>
            <div formGroupName="{{section.sectionKey}}">
                <ng-container *ngFor="let field of section.sectionDataFields">
                    <div class="form-item-container m-b-24">
                        <ng-container [ngSwitch]="field.fieldType">
                            <tui-input *ngSwitchCase="formFieldType.input" formControlName="{{field.fieldKey}}">
                                {{field.fieldLabel}}
                                <input
                                    tuiTextfield
                                    type="text"
                                />
                            </tui-input>
                            <tui-text-area
                                *ngSwitchCase="formFieldType.textarea"
                                formControlName="{{field.fieldKey}}"
                                [expandable]="true"
                            >
                                {{field.fieldLabel}}
                            </tui-text-area>
                        </ng-container>
                        <tui-error
                            formControlName="{{field.fieldKey}}"
                            [error]="[] | tuiFieldError | async"
                        ></tui-error>
                        <div *ngIf="field.fieldHints" class="input-hint">
                            <p>{{field.fieldHints}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </form>
    <div class="btn-container f-end">
        <button class="br-69 btn-l btn-white-dark-hover" (click)="resetForm()">Отменить</button>
        <button class="br-69 btn-l btn-dark-white-hover" (click)="submitForm()">Сохранить</button>
    </div>
</div>
