@import "global";
@import "../../site-general-settings/site-general-settings.component";

.section-desc-container {
    margin: 28px 0 20px;

    .section-name {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }

    .section-hint {
        font-size: 16px;
        line-height: 20px;
        color: @gray-3;
        font-weight: 300;
    }
}

.input-hint {
    color: @gray-1;
    font-weight: 300;
    margin-top: 12px;
}
