<div class="text">
    <p class="text-txt">
        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
        born and I will give you a complete account of the system
    </p>
</div>
