@import "global";

.text {
    .text-txt {
        font-size: 44px;
        line-height: 120%;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .text {
        margin: 20px 30px;

        .text-txt {
            font-size: 32px;
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .text {
        margin: 30px;

        .text-txt {
            font-size: 38px;
        }
    }
}
