@import "global";

.orders-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .order-item {
        padding: 18px;
        cursor: pointer;

        &:hover {
            background-color: @white-1;
        }
    }

    .order-item.active {
        background-color: @white-2;
    }

    .order-data {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 10px;
    }

    .counter {
        font-size: 18px;
        font-weight: 500;
    }

    .creation-time {
        font-size: 14px;
        font-weight: 400;
    }
}

.flex-two-third {
    display: flex;
    flex-direction: row;
    margin: 1rem 3rem;
    gap: 24px;

    > * {

        &:nth-child(1) {
            width: calc(100% / 3 * 1);
        }

        &:nth-child(2) {
            width: calc(100% / 3 * 2);
        }
    }
}

.flex-third-two {
    display: flex;
    flex-direction: row;
    gap: 24px;

    > * {

        &:nth-child(1) {
            width: calc(100% / 3 * 2);
        }

        &:nth-child(2) {
            width: calc(100% / 3 * 1);
        }
    }
}

.m-1rem-3rem {
    margin: 1rem 3rem;
}

.btn-inactive {
    border: 1px solid @gray-1;
    color: @gray-1;
    cursor: not-allowed;
}

.btn-complete {
    border: 1px solid @dark;
    cursor: not-allowed;
}

.date-header {
    font-size: 26px;
    margin: 0;
    line-height: 100%;
}

.filters-header {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
}

.order-container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 28px;
}

.container-header {
    font-size: 20px;
    font-weight: 500;
}

.time-info {
    color: @gray-1;
    font-size: 12px;
}

.btn-cancel {
    color: @purple;
}

.progressbar-container {
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
}
.progressbar li:before {
    content: url("../../../assets/imgs/black-status.svg");
    display: block;
    text-align: center;
    margin: 5px auto 10px auto;
}
.progressbar li:after {
    width: 100%;
    height: 1px;
    content: '';
    position: absolute;
    background-color: @dark;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.done:before {
    content: url("../../../assets/imgs/green-status.svg");
}

.order-items-list {
    margin: 0;
    padding: 0;

    .list-item {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 14px;
        border-bottom: 1px solid @white-1;
        padding: 12px 0;

        &:last-child {
            border-bottom: none;
        }

        img {
            width: 40px;
            height: 40px;
        }

        .price {
            margin-left: auto;
            font-weight: 600;
        }

        .final-price-header {
            font-size: 18px;
            font-weight: 600;
        }
    }
}

.btn-payment {
    padding: 4px 30px;
    display: inline-block;
    border-radius: 25px;
    color: @white-1;
    font-size: 16px;

    &.yellow {
        background-color: @yellow;
        color: @dark;
    }

    &.green {
        background-color: @green;
    }

    &.red {
        background-color: @red;
    }
}

.contact {
    .contact-name {
        font-size: 20px;
        font-weight: 500;
    }

    .contact-phone {
        font-size: 14px;
        color: @gray-1;
    }

    .contact-info-section {
        border-bottom: 1px solid @white-1;
        padding: 12px 0;

        &:last-child {
            border-bottom: none;
        }

        .line-1 {
            font-size: 18px;
            font-weight: 600;
        }

        .line-2 {
            font-size: 14px;
            color: @gray-1;
        }
    }

    .comment {
        font-size: 16px;
        line-height: 110%;
        border: 1px solid gray;
        padding: 10px 10px 10px 22px;
        border-radius: 5px;
        margin: 32px 0 10px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: -20%;
            left: 10%;
            width: 0;
            height: 0;
            border-bottom: solid 10px grey;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
        }
    }
}
