<app-user-header></app-user-header>

<div>
    <h3 class="section-name m-1rem-3rem">Заказы</h3>
</div>

<div class="flex-two-third">
    <div>
        <div class="flex-row-s-between align-center m-b-12">
            <div class="date-header">{{ordersListFilters.date.getFormattedDay('DMY', '.')}}</div>
            <div>
                <button (click)="toggleFilters()"><img src="assets/imgs/settings-icon.svg" alt="settings-btn"></button>
                <button (click)="toggleCalendar()"><img src="assets/imgs/calendar.svg" alt="calendar-btn"></button>
            </div>
        </div>
        <div *ngIf="displayFilters" class="order-container">
            <p class="filters-header">Статус заказа</p>
            <ng-container *ngFor="let filter of ordersListFilters.filters">
                <tui-checkbox-labeled
                    [(ngModel)]="filter.checked"
                    (click)="updateFilters(!filter.checked, filter.value)"
                >
                    {{filter.label}}
                </tui-checkbox-labeled>
            </ng-container>
        </div>
        <div *ngIf="displayCalendar" class="order-container">
            <tui-calendar
                [value]="ordersListFilters.date"
                (dayClick)="updateCalendar($event)"
                class="m-0-auto"
            ></tui-calendar>
        </div>
        <div>
            <ul class="orders-list">
                <li
                    class="order-item flex-row-s-between"
                    [class.active]="activeOrderId === order.orderId"
                    *ngFor="let order of orderList$ | async"
                    (click)="getSelectedOrder(order.orderId)"
                >
                    <div class="order-data">
                        <p class="counter">Заказ №{{order.orderNo}}</p>
                        <p class="creation-time">Создано {{getTime(order.creationDate)}}</p>
                    </div>
                    <img [src]="getOrderStatusIcon(order.orderStatus)" alt="order-status">
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="selectedOrder">
        <!--    ORDER HEADER    -->
        <div class="flex-row-f-start align-f-end m-b-24">
            <h3 class="date-header">Заказ №{{selectedOrder.orderNo}}</h3>
            <p class="time-info">Создано {{getDate(selectedOrder.creationDate)}}
                в {{getTime(selectedOrder.creationDate)}}</p>
        </div>
        <!--    PROGRESS CONTAINER    -->
        <div class="order-container m-b-24">
            <div class="flex-row-s-between align-center">
                <div class="flex-row-f-start align-f-end">
                    <p class="container-header">Изменить статус</p>
                    <p class="time-info">Обновлено в {{getLastUpdateTime()}}</p>
                </div>
                <button
                    *ngIf="selectedOrder.orderStatus !== statusList.canceled && selectedOrder.orderStatus !== statusList.complete"
                    class="btn-cancel"
                    (click)="displayCancelModal = true"
                >
                    Отменить заказ
                </button>
            </div>
            <div class="progressbar-container">
                <ul class="progressbar">
                    <li [class.done]="isOrderStatusDone(statusList.created)">
                        <p>Создано</p>
                        <p>{{getStatusTime(statusList.created)}}</p>
                    </li>
                    <li [class.done]="isOrderStatusDone(statusList.cooking)">
                        <p>Начали готовить</p>
                        <p>{{getStatusTime(statusList.cooking)}}</p>
                    </li>
                    <li [class.done]="isOrderStatusDone(statusList.givenToDelivery)">
                        <p>Передан курьеру</p>
                        <p>{{getStatusTime(statusList.givenToDelivery)}}</p>
                    </li>
                    <li [class.done]="isOrderStatusDone(statusList.inDelivery)">
                        <p>В пути</p>
                        <p>{{getStatusTime(statusList.inDelivery)}}</p>
                    </li>
                    <li [class.done]="isOrderStatusDone(statusList.complete)">
                        <p>Доставлено</p>
                        <p>{{getStatusTime(statusList.complete)}}</p>
                    </li>
                </ul>
            </div>
            <div class="f-end">
                <button
                    *ngIf="selectedOrder.orderStatus !== statusList.canceled && selectedOrder.orderStatus !== statusList.complete"
                    class="btn-m btn-dark-white-hover"
                    (click)="nextStep()"
                >
                    Следующий этап
                </button>
                <div
                    *ngIf="selectedOrder.orderStatus === statusList.canceled"
                    class="btn-m btn-inactive"
                >
                    Отменено
                </div>
                <div
                    *ngIf="selectedOrder.orderStatus === statusList.complete"
                    class="btn-m btn-complete"
                >
                    Выполнено
                </div>
            </div>
        </div>
        <div class="flex-third-two">
            <!--    ORDER INFO CONTAINER    -->
            <div class="order-container">
                <p class="container-header">Заказ</p>
                <ul class="order-items-list">
                    <li *ngFor="let orderItem of selectedOrder.orderList" class="list-item">
                        <img src="assets/imgs/food.svg" alt="food-icon">
                        <p>{{orderItem.itemName}}</p>
                        <p class="price">{{orderItem.itemQuantity}} x {{orderItem.itemPrice}} ₽</p>
                    </li>
                    <li class="list-item">
                        <img src="assets/imgs/delivery-icon.svg" alt="delivery-icon">
                        <p>Доставка</p>
                        <p class="price">{{selectedOrder.deliveryPrice}} ₽</p>
                    </li>
                    <li class="list-item">
                        <p class="final-price-header">Итого</p>
                        <p class="price">{{selectedOrder.totalPrice}} ₽</p>
                    </li>
                </ul>
            </div>
            <!--    CONTACT INFO CONTAINER    -->
            <div class="order-container contact">
                <div class="flex-row-f-start align-center">
                    <img src="assets/imgs/profile-dark.svg" alt="customer photo">
                    <div>
                        <p class="contact-name">{{selectedOrder.contact.contactName}}</p>
                        <p class="contact-phone">{{selectedOrder.contact.contactPhone}}</p>
                    </div>
                </div>
                <div class="comment">{{selectedOrder.contact.orderComment}}</div>
                <div>
                    <div class="contact-info-section">
                        <p class="line-1">{{selectedOrder.contact.addressLine1}}</p>
                        <p class="line-2">{{selectedOrder.contact.addressLine2}}</p>
                    </div>
                    <div class="contact-info-section">
                        <p class="line-1">Способ оплаты</p>
                        <p class="line-2">{{getPaymentMethodName(selectedOrder.contact.paymentMethod)}}</p>
                    </div>
                </div>
                <div [ngSwitch]="selectedOrder.contact.paymentStatus">
                    <div *ngSwitchCase="paymentStatus.payed" class="btn-payment green">Оплачено</div>
                    <div *ngSwitchCase="paymentStatus.awaiting" class="btn-payment yellow">Ожидает оплаты</div>
                    <div *ngSwitchCase="paymentStatus.notPayed" class="btn-payment red">Не оплачено</div>
                    <div *ngSwitchCase="paymentStatus.canceled" class="btn-payment red">Отменено</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CANCEL ORDER MODAL -->
<ng-template
    let-observer
    [(tuiDialog)]="displayCancelModal"
    [tuiDialogOptions]="{label: 'Отменить данный заказ?'}"
>
    <div class="f-column m-top-58">
        <button class="btn-l btn-dark-white-hover m-b-24" (click)="cancelOrder()">Да</button>
        <button class="btn-l btn-white-dark-hover" (click)="displayCancelModal=false">Нет</button>
    </div>
</ng-template>
