@import "global";

.tui-table__tr {
    &:hover {
        background: var(--tui-base-03);
    }
}

.tui-table__td {
    font: var(--tui-font-text-l);
    height: 3rem;
}

.action-btn-td {
    padding: 0.75rem 1rem;
    height: 3.5rem;
}

.dialog-msg {
    margin-bottom: 32px;
    font-size: 20px;
}

.nav-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.m-r-24 {
    margin-right: 24px;
}

.m-r-12 {
    margin-right: 12px;
}

.max-w-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-table-action {
    padding: 0 12px;

    img {
        height: 32px;
    }
}

.f-column {
    .btn-l {
        font-size: 18px;

        &:first-child {
            margin-bottom: 12px;
        }
    }
}

.btn-fixed-bottom {
    position: fixed;
    bottom: 60px;
    right: 60px;
}

@media (max-width: 1560px) {
    .max-w-1440 {
        margin: 0 60px;
    }
}

