<app-user-header></app-user-header>

<ng-container>
    <div class="nav-btns w-1200">
        <h3 class="section-name">Стоп-лист</h3>
        <div>
            <button class="btn-m btn-yellow-white-hover" (click)="goToMenu()">Меню</button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="menu">
    <div class="w-1200">
        <table class="tui-table">
            <thead class="custom-header">
            <tr class="tui-table__tr">
                <th class="tui-table__th">Позиция</th>
                <th class="tui-table__th">Категория меню</th>
                <th class="tui-table__th">Цена, ₽</th>
                <th class="tui-table__th"></th>
            </tr>
            </thead>
            <tbody>
            <tr
                *ngFor="let item of stopListItemsList"
                class="tui-table__tr"
            >
                <td class="tui-table__td">{{ item.itemName }}</td>
                <td class="tui-table__td">{{getCategoryName(item.categoryId)}}</td>
                <td class="tui-table__td">{{ item.itemPrice }}</td>
                <td class="f-end tui-table__td action-btn-td">
                    <button class="btn-reset btn-table-action" (click)="toggleItemVisibility(item)">
                        <img [src]="item.isHidden ? 'assets/imgs/hidden-icon.svg' : 'assets/imgs/visible-icon.svg'" alt="is hidden icon">
                    </button>
                    <button class="btn-reset btn-table-action" (click)="editMenuItem(item.id)">
                        <img src="assets/imgs/edit-gray.svg" alt="edit-btn">
                    </button>
                    <button class="btn-reset btn-table-action" (click)="displayDeleteItemModal(item.id)">
                        <img src="assets/imgs/trash.svg" alt="delete-btn">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="f-end w-1200">
        <button class="btn-m btn-dark-white-hover m-top-32" (click)="displayRemoveFromStopModal = true">Удалить все позиции из стоп-листа</button>
    </div>

</ng-container>

<!-- DEL ITEM MODAL-->
<ng-template
    let-observer
    [(tuiDialog)]="displayDeleteModal"
    [tuiDialogOptions]="{label: 'Удалить выбранную позицию?'}"
>
    <div class="f-column m-top-58">
        <button class="btn-l btn-dark-white-hover m-b-24" (click)="deleteMenuItem()">Да</button>
        <button class="btn-l btn-white-dark-hover" (click)="displayDeleteModal=false">Нет</button>
    </div>
</ng-template>

<!--  REMOVE ALL ITEM FROM STOP MODAL -->
<ng-template
    let-observer
    [(tuiDialog)]="displayRemoveFromStopModal"
    [tuiDialogOptions]="{label: 'Подтвердите действие'}"
>
    <div class="f-column m-top-58">
        <div class="dialog-msg">Убрать все позиции из стоп-листа ({{stopListItemsList.length}})?</div>
        <button class="btn-l btn-dark-white-hover m-b-24" (click)="removeAllFromStopList()">Да</button>
        <button class="btn-l btn-white-dark-hover" (click)="displayRemoveFromStopModal=false">Нет</button>
    </div>
</ng-template>
