@import "global";

.m-t-90 {
    margin-top: 90px;
}

.settings-heading {
    font-size: 32px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 40px;
}

.settings-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .settings-item {
        font-size: 18px;
        font-weight: 500;
        padding: 14px 12px;
        cursor: pointer;

        &:hover {
            background-color: @white-1;
            border-radius: 5px;
        }

        &.active {
            background-color: @white-2;
            border-radius: 5px;
        }
    }
}

.item-form {
    .form-input {
        border-radius: 10px;
        padding: 24px 10px 10px;
        font-size: 16px;
    }
}

.alert-msg {
    color: @red;
}

.btn-container {
    gap: 30px;
    margin-top: 50px;
}
