<app-user-header></app-user-header>

<ng-container>
    <div class="custom-breadcrumbs">
        <h3 class="section-name">Настройки</h3>
    </div>

    <div class="flex-two-third w-1200">
        <div class="m-t-90">
            <ul class="settings-list">
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.general)"
                    (click)="changeActiveItem(settingsItemsEnum.general)"
                >
                    Основная информация
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.colorsAndFonts)"
                    (click)="changeActiveItem(settingsItemsEnum.colorsAndFonts)"
                >
                    Цвета и шрифты
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.menuCardsFormat)"
                    (click)="changeActiveItem(settingsItemsEnum.menuCardsFormat)"
                >
                    Формат карточек меню
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.mainPageData)"
                    (click)="changeActiveItem(settingsItemsEnum.mainPageData)"
                >

                    Настройки главной страницы
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.header)"
                    (click)="changeActiveItem(settingsItemsEnum.header)"
                >
                    Шапка сайта
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.domain)"
                    (click)="changeActiveItem(settingsItemsEnum.domain)"
                >
                    Домен
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.paymentSystem)"
                    (click)="changeActiveItem(settingsItemsEnum.paymentSystem)"
                >
                    Платежная система
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.userActions)"
                    (click)="changeActiveItem(settingsItemsEnum.userActions)"
                >
                    Действия
                </li>
                <li
                    class="settings-item"
                    [class.active]="isSettingsItemActive(settingsItemsEnum.subscription)"
                    (click)="changeActiveItem(settingsItemsEnum.subscription)"
                >
                    Подписка
                </li>
            </ul>
        </div>
        <div>
            <ng-container [ngSwitch]="activeSettingsItem">
                <app-general *ngSwitchCase="settingsItemsEnum.general"></app-general>
                <app-color-and-fonts *ngSwitchCase="settingsItemsEnum.colorsAndFonts"></app-color-and-fonts>
                <app-menu-cards-format *ngSwitchCase="settingsItemsEnum.menuCardsFormat"></app-menu-cards-format>
                <app-main-page-data *ngSwitchCase="settingsItemsEnum.mainPageData"></app-main-page-data>
                <app-header *ngSwitchCase="settingsItemsEnum.header"></app-header>
                <app-domain *ngSwitchCase="settingsItemsEnum.domain"></app-domain>
                <app-payment-system *ngSwitchCase="settingsItemsEnum.paymentSystem"></app-payment-system>
                <app-user-actions *ngSwitchCase="settingsItemsEnum.userActions"></app-user-actions>
                <app-subscription *ngSwitchCase="settingsItemsEnum.subscription"></app-subscription>
            </ng-container>
        </div>
    </div>
</ng-container>
