<app-user-header></app-user-header>

<div *ngIf="selectedSections">
    <div class="fixed-btn-group">
        <button (click)="backToEdit()" class="btn-l btn-white-dark-hover">Вернуться к редактированию</button>
        <button (click)="toggleView()" class="btn-view"><img src="./assets/imgs/{{!isDesktopView ? 'desktop-icon' : 'phone-icon'}}.svg" alt="view format"></button>
    </div>

    <div class="preview-container" [class.phoneView]="!isDesktopView">
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.cover)">
            <app-cover-v1 *ngSwitchCase="1"></app-cover-v1>
            <app-cover-v2 *ngSwitchCase="2"></app-cover-v2>
        </div>
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.buttons)">
            <app-buttons-v1 *ngSwitchCase="1"></app-buttons-v1>
            <app-buttons-v2 *ngSwitchCase="2"></app-buttons-v2>
        </div>
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.menu)">
            <app-menu-v1 *ngSwitchCase="1"></app-menu-v1>
        </div>
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.text)">
            <app-text-v1 *ngSwitchCase="1"></app-text-v1>
            <app-text-v2 *ngSwitchCase="2"></app-text-v2>
            <app-text-v3 *ngSwitchCase="3"></app-text-v3>
            <app-text-v4 *ngSwitchCase="4"></app-text-v4>
        </div>
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.banner)">
            <app-banner-v1 *ngSwitchCase="1"></app-banner-v1>
            <app-banner-v2 *ngSwitchCase="2"></app-banner-v2>
        </div>
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.gallery)">
            <app-gallery-v1 *ngSwitchCase="1"></app-gallery-v1>
            <app-gallery-v2 *ngSwitchCase="2"></app-gallery-v2>
        </div>
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.map)">
            <app-map-v1 *ngSwitchCase="1"></app-map-v1>
            <app-map-v2 *ngSwitchCase="2"></app-map-v2>
        </div>
        <div class="m-b-32" [ngSwitch]="getActiveSectionId(siteSectionsEnum.contacts)">
            <app-contacts-v1 *ngSwitchCase="1"></app-contacts-v1>
        </div>
    </div>
</div>
