@import "global";

.m-b-60 {
    &:last-child {
        margin-bottom: 0;
    }
}

.fixed-btn-group {
    position: fixed;
    bottom: 60px;
    left: 60px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.btn-view {
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
    }
}

.preview-container {
    margin: 60px;

    &.phoneView {
        width: 320px;
        margin: 60px auto;
        border: 1px solid @dark;
    }
}
