<h3 class="settings-heading">Действия с проектом</h3>

<div class="action-container">
    <div class="img">
        <img src="assets/imgs/trash.svg" alt="trash icon">
    </div>
    <div class="txt">
        <p class="header">Удалить проект</p>
        <p class="hint">без возможности отмены</p>
    </div>
</div>
