@import "global";
@import "../../site-general-settings/site-general-settings.component";

.action-container {
    width: 250px;
    height: 100px;
    padding: 20px 30px;
    border: 1px solid @gray-1;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .txt {
        .header {
            font-size: 20px;
            font-weight: 500;
            color: #323232;
            margin-bottom: 10px;
        }

        .hint {
            font-size: 14px;
            color: @gray-3;
        }
    }
}
