// Custom Theming for TAIGA UI

@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

@import "./assets/fonts/Golos-Text/Golos-Text_Black.css";
@import "./assets/fonts/Golos-Text/Golos-Text_Bold.css";
@import "./assets/fonts/Golos-Text/Golos-Text_DemiBold.css";
@import "./assets/fonts/Golos-Text/Golos-Text_Medium.css";
@import "./assets/fonts/Golos-Text/Golos-Text_Regular.css";
@import "./assets/fonts/Golos-Text/Golos-Text_VF.css";


/**, *::before, *::after {
    box-sizing: initial;
}*/


[tuiWrapper][data-appearance='textfield'] {
    box-shadow: none;
}

:root {
    --tui-text-font: 'GolosTextWebVF', -apple-system, 'BlinkMacSystemFont', system-ui, 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
    --tui-link: #5C58FF;
    --tui-primary: #5C58FF;
    --tui-error-fill: #E0514E;
    --tui-error-fill-night: #E0514E;
    --tui-negative: #E0514E;
    --tui-success-fill: #76C148;
    --tui-success-fill-night: #76C148;
    --tui-warning-fill: #FFFD72;
    --tui-warning-fill-night: #FFFD72;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
