@import "global";

.flex-50 {
    flex: 50%;
}

.cover-2 {
    display: flex;
    flex-direction: row;

    .cover-bg-img {
        height: 460px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../../../../../assets/imgs/site-examples/cover.png") no-repeat;
        background-size: 100% 100%;
    }

    .txt-container {
        padding: 40px 60px;

        h2 {
            color: @dark;
            font-weight: 700;
            font-size: 60px;
            line-height: 72px;
        }

        .txt {
            font-size: 26px;

            &.bold {
                font-weight: 700;
                margin-top: 25px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .cover-2 {

        .cover-bg-img {
            height: initial;
        }

        .txt-container {
            padding: 20px 30px;

            h2 {
                font-size: 24px;
            }

            .txt {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .cover-2 {

        .cover-bg-img {
            height: initial;
        }

        .txt-container {
            padding: 20px 30px;

            h2 {
                font-size: 56px;
            }

            .txt {
                font-size: 22px;
            }
        }
    }
}
