<div class="cover-2">
    <div class="txt-container flex-50">
        <h2>Название вашего заведения</h2>
        <p class="txt">Описание сайта. Можно добавить здесь, также автоматически появится тут, как только вы
            заполните его в настройках</p>
        <p class="txt bold">Ещё что-то важное</p>
    </div>
    <div class="cover-bg-img flex-50"></div>
</div>
