@import "../../../styles/global";

.menu-container {
    margin-top: 84px;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
}

.cat-header {
    color: @dark-2;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 16px;
}

.item-card {
    width: 320px;
    height: 420px;
    border: 1px solid @dark;
    border-radius: 15px;
    position: relative;

    .item-img {
        height: 180px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
        }
    }

    .select-item-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        height: 36px;
        width: 36px;
        z-index: 10;
    }

    .item-desc {
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item-desc-txt {
        padding: 18px;
    }

    .item-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 12px;
        color: black;
    }

    .item-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: black;
    }

    .item-desc-btn {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px 12px;
    }

    .item-price {
        font-weight: 400;
        font-size: 22px;
    }

    .cart-container {
        height: 50px;
        display: flex;
        align-items: center;
    }

    .cart-btn {
        img {
            height: 42px;
            width: 42px;
        }
    }

    .cart-info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        .quantity {
            font-size: 18px;
        }
    }
}

.m-b-72 {
    margin-bottom: 72px;
}

.m-r-24 {
    margin-right: 24px;
}

.m-r-12 {
    margin-right: 12px;
}

@media only screen and (max-width: 500px) {
    .menu-container {
        margin: 24px 16px 0;
    }

    .cat-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 25px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .item-card {
        flex: 0 0 300px;

        .item-name {
            font-size: 20px;
        }

        .item-desc-btn {

            .item-price {
                font-size: 20px;
            }

            .cart-container {
                height: 30px;

                img {
                    height: 40px;
                }
            }
        }
    }
}
