<app-client-header></app-client-header>
<app-client-cart-header></app-client-cart-header>

<div *ngIf="menu" class="menu-container">
    <div *ngFor="let category of menu | async" class="w-1200 m-b-72">
        <p class="cat-header">{{category.categoryName}}</p>
        <div class="cat-container">
            <ng-container *ngIf="category.menuItems.length > 0">
                <div *ngFor="let item of category.menuItems" class="item-card">
                    <div class="item-img">
                        <img src="assets/imgs/menu-item-img.png" alt="menu-item-image">
                    </div>
                    <div class="item-desc">
                        <div class="item-desc-txt">
                            <p class="item-name">{{item.itemName}}</p>
                            <p class="item-description">{{item.description}}</p>
                        </div>
                        <div class="item-desc-btn">
                            <p class="item-price">{{item.itemPrice}} &#8381;</p>
                            <div class="cart-container">
                                <div *ngIf="isItemInCart(item.id); else addToCart" class="cart-info-container">
                                    <button (click)="removeFromCart(item)">
                                        <img src="assets/imgs/minus.svg" alt="remove item">
                                    </button>
                                    <p class="quantity">{{getItemQuantity(item.id)}}</p>
                                    <button (click)="addToCard(item)">
                                        <img src="assets/imgs/plus.svg" alt="add item">
                                    </button>
                                </div>
                                <ng-template #addToCart>
                                    <button
                                        class="cart-btn"
                                        (click)="addToCard(item)"
                                    >
                                        <img src="assets/imgs/shopping-cart.svg" alt="add to cart button">
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
